<div class="container footer__menu-cont">
	<ul class="footer__menu">
		<li><a class="footer__menu-a" href="/how">{{_ 'About Qstoq' 'footer'}}</a></li>
		<li><a class="footer__menu-a" href="/how">{{_ 'How does it work?' 'footer'}}</a></li>
		<li><a class="footer__menu-a" target="_blank" href="/docs/questions-n-answers.html">{{_ 'Questions & answers' 'footer'}}</a></li>
		<li><a class="footer__menu-a" target="_blank" href="/docs/api.html">{{_ 'Qstoq API' 'footer'}}</a></li>
	</ul>
	<ul class="footer__menu">
		<li><a class="footer__menu-a" target="_blank" href="/docs/user-agreement.html">{{_ 'User agreement' 'footer'}}</a></li>
		<li><a class="footer__menu-a" target="_blank" href="/docs/privacy.html">{{_ 'Privacy' 'footer'}}</a></li>
		<li><a class="footer__menu-a" target="_blank" href="/docs/team.html">{{_ 'Team' 'footer'}}</a></li>
		<li><a class="footer__menu-a" target="_blank" href="/docs/partners.html">{{_ 'Partners' 'footer'}}</a></li>
	</ul>
	<ul class="footer__menu">
		<li><a class="footer__menu-a" target="_blank" href="mailto:ola@qstoq.io">ola@qstoq.io</a></li>
		<li><a class="footer__menu-a" target="_blank" href="http://vk.com/qstoq">{{_ 'Vkontakte' 'footer'}}</a></li>
		<li><a class="footer__menu-a" target="_blank" href="http://www.facebook.com/qstoq">{{_ 'Facebook' 'footer'}}</a></li>
		<li><a class="footer__menu-a" target="_blank" href="https://twitter.com/qstoq">{{_ 'Twitter' 'footer'}}</a></li>
	</ul>
</div>
<div class="container footer__misc-cont">
	<a href="/"><i class="qi qi-smlogo footer__misc-logo"></i></a>
	<p class="footer__misc-p">&copy; {{year}} Qstoq</p>
	<p class="footer__misc-p">{{_ 'The easy payment system of purchase and delivery of digital content' 'footer'}}</p>
</div>