<div class="itemedit__short-link"><span class="itemedit__short-link-title">{{_ 'Link for purchasing:' 'itemedit'}}</span> <a class="itemedit__short-link-a" href="{{ url_short }}" target="_blank">{{ url_short_path }}</a></div>
<div class="itemedit__slide itemedit__slide_main">
	<div class="row">
		<div class="span8 itemedit__slide1__col1">
			<form action="edit">
				<div class="itemedit__activate-cont">
					<label>
						<input type="checkbox" value="1"{{#if active}} checked="checked"{{/if}} name="active"/>
						<span class="itemedit__active-label">{{_ 'Available or purchase' 'itemedit'}}</span>
					</label>
				</div>
				<div class="qst__inp-group">
					<div class="qst__inp-cont">
						<label>
							<span class="qst__lbl">{{_ 'Title' 'itemlist'}}</span>
							<div class="qst__inp-cont-in">
								<input type="text" class="qst__inp" name="name" value="{{ name }}">
							</div>
						</label>
					</div>
					<div class="qst__inp-cont">
						<label>
							<span class="qst__lbl">{{_ 'Price, RUB' 'itemlist'}}</span>
							<div class="qst__inp-cont-in">
								<input type="text" class="qst__inp" name="price" value="{{ price }}{{#if price_pwyw}}+{{/if}}">
							</div>
						</label>
					</div>
					<div class="qst__inp-cont">
						<label>
							<span class="qst__lbl">{{_ 'Limit' 'itemlist'}}</span>
							<div class="qst__inp-cont-in">
								<input type="text" class="qst__inp" name="ship_limit" value="{{#if ship_limit}}{{ ship_limit }}{{else}}0{{/if}}">
							</div>
						</label>
					</div>
					<div class="qst__inp-cont qst__inp-cont-ta">
						<textarea name="description" class="itemedit__description qst__inp" placeholder="{{_ 'Descrition' 'itemedit'}}">{{ description }}</textarea>
					</div>
				</div>
				<div class="item__preview-upload-cont">
				</div>
				<div class="item__types-cont">
					<span class="item__types-title">{{_ 'After payment' 'itemlist'}}</span>
					<ul class="item__types">
						<li{{#ifEq state 'link'}} class="active"{{/ifEq}}><a href="link" class="item-link item__types-item">{{_ 'give a link' 'itemlist'}}</a></li>
						<li{{#ifEq state 'file'}} class="active"{{/ifEq}}><a href="file" class="item-file item__types-item">{{_ 'give a file' 'itemlist'}}</a></li>
						<li{{#ifEq state 'nothing'}} class="active"{{/ifEq}}><a href="nothing" class="item-nothing item__types-item">{{_ 'give nothing' 'itemlist'}}</a></li>
					</ul>
				</div>
				<div class="itemedit__link qst__inp-group">
					<div class="qst__inp-cont">
						<label>
							<span class="qst__lbl">{{_ 'Link' 'itemlist'}}</span>
							<div class="qst__inp-cont-in">
								<input type="text" class="qst__inp" name="link" value="{{ url }}">
							</div>
						</label>
					</div>
				</div>
				<div class="itemedit__file">
					<div class="qst__inp-cont">
						<div class="itemedit__inp-file-process"></div>
						<span class="itemedit__inp-file-title">{{#ifEq state 'file'}}<a href="{{ url }}" class="itemedit__inp-file-title-a" target="_blank">{{ filename }}</a>{{else}}{{_ 'Drop or choose a file' 'itemlist'}}{{/ifEq}}</span>
						<input type="file" class="qst__inp itemedit__inp-file" name="file" id="file_uploader" placeholder="{{_ 'Link' 'itemlist'}}">
					</div>
				</div>
				<input type="submit" class="inv">
			</form>
			<div class="itemedit__submit">
				<a href="" class="itemedit__delete-a">{{_ 'Remove link' 'itemedit'}}</a><span class="itemedit__error"></span><a href="save" class="itemedit__submit-a">{{_ 'Save' 'itemedit'}}</a>
			</div>
		</div>
		<div class="span4">
			<h3 class="itemedit__share-h">{{_ 'Link for purchase' 'itemedit'}}</h3>
			<div class="itemedit__share-inp-cont">
				<i class="qi qi-share-link"></i><input type="text" value="{{ url_short_path }}" class="qst__inp" readonly="readonly">	
			</div>
			<p class="itemedit__share-p">{{_ 'Clicking on that link your customers will get a purchase screen' 'itemedit'}}</p>
			<p class="itemedit__share-p">{{_ 'Spread the word on your site, on blog or social networks' 'itemedit'}}</p>
			<ul class="itemedit__share-ul">
				<li>
					<a href="vk" class="itemedit__share-btn itemedit__share-vk-btn"><i class="qi qi-share-vk"></i><span class="itemedit__share-btn-title">{{_ 'Share on Vkontakte' 'itemedit'}}</span></a>
				</li><li>
					<a href="facebook" class="itemedit__share-btn itemedit__share-fb-btn"><i class="qi qi-share-fb"></i><span class="itemedit__share-btn-title">{{_ 'Share on Facebook' 'itemedit'}}</span></a>
				</li><li>
					<a href="twitter" class="itemedit__share-btn itemedit__share-tw-btn"><i class="qi qi-share-tw"></i><span class="itemedit__share-btn-title">{{_ 'Share on Twitter' 'itemedit'}}</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="itemedit__slide itemedit__slide_showcase">
	<div class="showcase__window">
		<div class="showcase__head">
			<div class="showcase__head_lt"></div>
			<div class="showcase__head_rt"></div>
			<div class="showcase__head_ct">
				<span class="showcase__head-title">Qstoq &ndash; {{ name }}</span>
			</div>
		</div>
		<div class="showcase__cont">
			<div class="showcase__form">
				<div class="showcase__form__col1">
					<div class="showcase__form__img-cont load-bg">
						<img src="/images_static/empty.png" alt="" class="showcase__form__img lazy" data-width="320" data-height="180" data-bg="1"data-crop="1">
					</div>
					<h1 class="showcase__form-h">{{ name }}</h1>
					<p class="showcase__form-desc">{{ description }}</p>
					<ul class="showcase__share">
						<li class="showcase__share-itm">{{_ 'Share' 'item'}}</li>
						<li class="showcase__share-itm"><a class="showcase__share-itm-a" href="vk"><i class="is is-shc-vk"></i></a></li>
						<li class="showcase__share-itm"><a class="showcase__share-itm-a" href="facebook"><i class="is is-shc-fb"></i></a></li>
						<li class="showcase__share-itm"><a class="showcase__share-itm-a" href="twitter"><i class="is is-shc-tw"></i></a></li>
					</ul>
				</div>
				<div class="showcase__form__col2">
					<span class="showcase__form-price"><span class="showcase__form-price-val">{{_number_format price }}</span>&nbsp;{{_ currency 'currency'}}</span>
					<div class="showcase__form-email-group qst__inp-group">
						<div class="showcase__form-email-cont qst__inp-cont">
							<input type="text" value="" placeholder="{{_ 'email' 'itemedit'}}" class="showcase__form-email qst__inp" disabled="disabled" name="customer_email">
						</div>
					</div>
					<p class="showcase__form-price-desc">{{_ 'for notifications about your purchases<br/>and feedback' 'itemedit'}}</p>

					<span class="showcase__form__buy-btn"><span class="showcase__form__buy-btn-in">{{_ 'Buy' 'itemedit'}}</span></span>
				</div>
				<div class="showcase__form__bottom-row">
					<div class="showcase__form__bottom-row__col1"><a href="http://qstoq.ru" target="_blank">Qstoq</a> &mdash; {{_ 'selling in lightning speed' 'itemedit'}}</div>
					<div class="showcase__form__bottom-row__col2"><i class="is is-lock showcase__form__safe-icn"></i><span class="showcase__form__safe-desc">{{_ 'Safe payment' 'item'}}</span></div>
				</div>
			</div>
		</div>
	</div>
	<p class="showcase__desc">{{_ 'It is a preview of the purchase page your customers will see' 'itemedit'}}</p>
</div>
<div class="itemedit__slide itemedit__slide_finish">
	<div class="showcase__window">
		<div class="showcase__head">
			<div class="showcase__head_lt"></div>
			<div class="showcase__head_rt"></div>
			<div class="showcase__head_ct">
				<span class="showcase__head-title">Qstoq &ndash; {{ name }}</span>
			</div>
		</div>
		<div class="finish__form-add-comment">
			<i class="is is-com finish__form-add-comment__icn"></i>
			<ul class="finish__form-add-comment__list">
				<li class="finish__form-add-comment__add"><a href="add" class="finish__form-add-comment-a">{{_ 'Add your<br/>message on the receipt' 'itemedit'}}</a></li>
				<li class="finish__form-add-comment__edit"><a href="edit" class="finish__form-add-comment-a">{{_ 'Edit your message on the receipt' 'itemedit'}}</a></li>
			</ul>
		</div>
		<div class="finish__cont">
			<div class="finish__form-t"></div>
			<div class="finish__form">
				<div class="finish__form-col">
					<span class="finish__form-line">{{_ 'Purchased' 'item'}}</span>
					<span class="finish__form-price"><span class="finish__form-price-val">{{_number_format price }}</span>&nbsp;{{_ currency 'currency'}}</span>
					<h1 class="finish__form-h">{{ name }}</h1>
					<span class="finish__form__buy-btn"><span class="finish__form__buy-btn-in">{{_ 'Get link' 'item'}}</span></span>
					<div class="finish__form-receipt_desc-group qst__inp-group">
						<div class="finish__form-receipt_desc-cont qst__inp-cont">
							<textarea value="" class="finish__form-receipt_desc qst__inp" name="receipt_comment">{{ receipt_comment }}</textarea>
						</div>
						<ul class="finish__form-receipt_desc-action-list"><li class="finish__form-receipt_desc-action finish__form-receipt_desc-action_cancel"><a href="receipt-cancel" class="finish__form-receipt_desc-action-a">{{_ 'Cancel' 'itemedit'}}</a></li><li class="finish__form-receipt_desc-action finish__form-receipt_desc-action_save"><a href="receipt-save" class="finish__form-receipt_desc-action-a">{{_ 'Save' 'itemedit'}}</a></li>
						</ul>
					</div>
					<p class="finish__form-desc">{{ receipt_comment }}</p>
					<p class="finish__form-desc-static">{{_ 'All purchasement info we&#39;ve sent to your email' 'item'}}</p>
					<a href="{{ url_short }}" target="_blank" class="finish__form-buy-another">{{_ 'Purchase more' 'item'}}</a>
					<ul class="finish__share">
						<li class="finish__share-itm">{{_ 'Share' 'item'}}</li>
						<li class="finish__share-itm"><a class="showcase__share-itm-a" href="vk"><i class="is is-shc-vk"></i></a></li>
						<li class="finish__share-itm"><a class="showcase__share-itm-a" href="facebook"><i class="is is-shc-fb"></i></a></li>
						<li class="finish__share-itm"><a class="showcase__share-itm-a" href="twitter"><i class="is is-shc-tw"></i></a></li>
					</ul>
					<div class="finish__form-service-desc"><a href="http://qstoq.ru" target="_blank">Qstoq</a> &mdash; {{_ 'selling in lightning speed' 'itemedit'}}</div>

				</div>
			</div>
			<div class="finish__form-b"></div>
		</div>
	</div>
	<p class="showcase__desc">{{_ 'It is a receipt your customers will see' 'itemedit'}}</p>
</div>
<div class="itemedit__slide itemedit__slide_buyers"><h2 class="buyers__head">{{_ 'Coming soon. The list of your buyer will help you to stay close to your customers' 'itemedit'}}</h2></div>