<div class="itemlist__cont">
	<table class="itemlist__table-head">
		<tr>
			<th class="link__caption">{{_ 'title' 'itemlist'}}</th>
			<th class="link__price">{{_ 'price' 'itemlist'}}</th>
			<th class="link__view-count">{{_ 'visits' 'itemlist'}}</th>
			<th class="link__sold-count">{{_ 'sold' 'itemlist'}}</th>
			<th class="link__ctr">{{_ 'CTR' 'itemlist'}}</th>
			<th class="link__overall">{{_ 'overall' 'itemlist'}}</th>
			<th class="link__toggle">&nbsp;</th>
			<th class="link__delete">&nbsp;</th>
		</tr>
	</table>
	<div class="itemlist__table-cont1">
		<div class="itemlist__table-cont2">
			<div class="itemlist__table"></div>
		</div>
	</div>
	<div class="itemlist__spinner"></div>
</div>