<tr>
	<td class="link__caption"><a href="/item/{{ id }}" class="link__caption-a">{{ name }}</a></td>
	<td class="link__price"><span class="link__price-sp">{{ price }}</span></td>
	<td class="link__view-count"><span class="link__view-count-sp">{{ counter_view }}</span></td>
	<td class="link__sold-count"><span class="link__sold-count-sp">{{ counter_ship }}</span></td>
	<td class="link__ctr"><span>{{ ctr }}</span></td>
	<td class="link__overall"><span>{{ overall }}</span></td>
	<td class="link__toggle{{#if active}} on{{else}} off{{/if}}"><span class="link__toggle-sp"><a href="on" class="link__toggle-a link__toggle_on">{{_ 'On' 'itemlist'}}</a> / <a href="off" class="link__toggle-a link__toggle_off">{{_ 'Off' 'itemlist'}}</a></span></td>
	<td class="link__delete"><span><a href="del" class="link__delete-a" data-method="delete" data-url="/v1/links/{{ id }}" data-content="{{_ 'Do you want to delete this item?' 'itemlist'}}" data-ok="{{_ 'Ok' 'itemlist'}}" data-close="{{_ 'Cancel' 'itemlist'}}" data-success="{{_ 'Item deleted.' 'itemlist'}}" data-error="{{_ 'Something went wrong...' 'itemlist'}}" data-event="link:delete"  data-eventdata='{"id": {{ id }} }'><i class="qi qi-del"></i></a></span></td>
</tr>