<td class="link__caption"><a href="/item/{{ id }}" class="link__caption-a">{{ name }}</a></td>
<td class="link__price"><span class="link__sp">{{#ifEq price_pwyw '1'}}+{{/ifEq}}{{_number_format price }}{{_ currency 'currency'}}</span></td>
<td class="link__view-count"><span class="link__sp">{{ counter_view }}</span></td>
<td class="link__sold-count"><span class="link__sp">{{ counter_ship }}</span></td>
<td class="link__overall"><span class="link__sp">{{ overall }}</span></td>
<td class="link__link"><span class="link__link-sp link__sp"><input type="text" value="{{ url_short_path }}" class="qst__inp" readonly="readonly"></span></td>
<td class="qst__toggle link__toggle{{#if active}} on{{else}} off{{/if}}"><span class="qst__toggle-sp link__sp"><a href="on" rel="nofollow" class="qst__toggle-a qst__toggle_on">{{_ 'On' 'misc'}}</a><a href="off" rel="nofollow" class="qst__toggle-a qst__toggle_off">{{_ 'Off' 'misc'}}</a></span></td>