<h3 class="photo-share__title">{{_ 'Share this photo:' 'photo_share'}}</h3>
<ul class="photo-share__menu">
	<li class="photo-share__item photo-share__fb"><a class="photo-share__link" href="{{add_this_api}}/forward/facebook/offer?url=http://weheartpics.com/photo/{{photo_id}}/&title={{story_name}}&description={{caption}}%20{{_ 'by' 'misc'}}%20{{user_name}}&pubid=prolll&text={{caption}}%20{{_ 'by' 'misc'}}%20{{user_name}}&via=WeHeartPics.com" target="_blank">{{_ 'Facebook' 'photo_share'}}</a></li>
	<li class="photo-share__item photo-share__tw"><a class="photo-share__link" href="{{add_this_api}}/forward/twitter/offer?url=http://weheartpics.com/photo/{{photo_id}}/&title={{story_name}}&description={{caption}}%20{{_ 'by' 'misc'}}%20{{user_name}}&pubid=prolll&text={{caption}}%20{{_ 'by' 'misc'}}%20{{user_name}}&via=WeHeartPicsCom" target="_blank">{{_ 'Twitter' 'photo_share'}}</a></li>
	<li class="photo-share__item photo-share__vk"><a class="photo-share__link"  href="http://vk.com/share.php?url=http://weheartpics.com/photo/{{photo_id}}/&image={{photo_link}}&title={{story_name}}&description={{caption}}%20{{_ 'by' 'misc'}}%20{{user_name}}" target="_blank">{{_ 'Vkontakte' 'photo_share'}}</a></li>
	<li class="photo-share__item photo-share__pt"><a class="photo-share__link" href="">{{_ 'Pinterest' 'photo_share'}}</a></li>
	<li class="photo-share__item photo-share__email"><a class="photo-share__link" target="_blank" href="mailto:?body=http://weheartpics.com/photo/{{ photo_id }}/&subject={{caption}}%20{{_ 'by' 'misc'}}%20{{user_name}}">{{_ 'E-mail' 'photo_share'}}</a></li>
	<div></div>
	<li class="photo-share__item photo-share__download"><a class="photo-share__link" target="_blank" href="{{ photo_link }}" download="{{ photo_id }}">{{_ 'Download photo' 'photo_share'}}</a></li>
	<li class="photo-share__item photo-share__report">
		<a href="" class="photo-share__link" data-url="/api/complaint/photo/" data-content="{{_ 'Do you want to report this photo?' 'photo_share'}}" data-ok="{{_ 'Report' 'photo_share'}}" data-close="{{_ 'Cancel' 'photo_share'}}" data-success="{{_ 'Photo reported.' 'photo_share'}}" data-error="{{_ 'Something went wrong...' 'photo_share'}}">{{_ 'Report photo' 'photo_share'}}</a>
	</li>
	{{#if my}}<li class="photo-share__item photo-share__delete">
		<a href="" class="photo-share__link" data-url="/api/photo/delete/" data-content="{{_ 'Do you want to delete this photo?' 'photo_share'}}" data-ok="{{_ 'Delete' 'photo_share'}}" data-close="{{_ 'Cancel' 'photo_share'}}" data-success="{{_ 'Photo deleted.' 'photo_share'}}" data-error="{{_ 'Something went wrong...' 'photo_share'}}" data-backreload="true">{{_ 'Delete photo' 'photo_share'}}</a>
	</li>
	{{/if}}
</ul>
