<div class="photo__text-row">
	<div class="photo__pic-col1">
		{{#if photo.caption}}
			<h2 class="photo__caption">{{_uinput photo.caption }}</h2>
		{{/if}}
		{{#if photo.location}}
		<div class="photo__location">
			<i class="i i-streetview"></i>
			{{#if photo.location.name }}
				<h3 class="photo__location-name">{{ photo.location.name }}</h3>
			{{/if}}
			{{#if photo.location.address }}
				<h4 class="photo__location-addr">{{ photo.location.address }}</h4>
			{{/if}}
			<div class="photo__location-map">
				<a href="https://maps.google.com/maps?q={{ photo.location.latitude }},{{ photo.location.longitude }}" target="_blank" class="photo__location-link">
					<img src="http://maps.googleapis.com/maps/api/staticmap?center={{ photo.location.latitude }},{{ photo.location.longitude }}&zoom=13&size=290x84&scale=2&markers=shadow:false|icon:http://weheartpics.com/images/map/marker.png|{{ photo.location.latitude }},{{ photo.location.longitude }}&sensor=true" width="290" height="84" class="photo__location-image">
				</a>
			</div>
		</div>
		{{/if}}
		<div class="photo-likers__cont"></div>
	</div>
	<div class="photo__pic-col2">
		<div class="photo-comment-pane__cont"></div>
		<div class="photo-share__cont"></div>
	</div>
</div>