<div class="row">
	<div class="span6 photofeed__photo">
		<div class="photofeed__photo-pic load-bg">
			<a href="/photo/{{ photo.id }}/" data-type="{{source.type}}" data-keeper="{{source.keeper}}">
				<div class="popular__delta">+{{photo.delta}} <i class="i i-hrt_pop"></i> {{_ 'in last 24 hours' 'popular_first'}}</div>
				<img src="/images_static/empty.png " data-orig="{{_uphoto photo.url '1000x1000'}}" alt="{{_mention_clear photo.caption }}" width="620" height="620" class="lazy"></a>
		</div>
		<!-- <div class="i photo__vote i-vote{{#if photo.wasvote}} active{{/if}}">
			<span class="photo__vote-title">{{photo.like}}</span>
		</div> -->
		<i class="i i-bge-1"></i>
		<div class="photofeed__story">
			{{#ifEq photo.story.type 'TIMELINE'}}
			<span class="photofeed__story-name">{{ photo.story.name }}</span>
			{{else}}
			<a href="{{_storyhref photo.story}}" class="photofeed__story-name">{{ photo.story.name }}</a>
			{{/ifEq}} <span class="photofeed__story-by">{{_ 'by' 'popular_first'}}</span> <a href="/user/{{ photo.user.id }}/" class="photofeed__user-name">{{ photo.user.name }}</a> <span class="photofeed__ts" data-ts="{{ timestamp }}">{{_timegap photo.timestamp}}</span>
		</div>
	</div>
	<div class="span4 photofeed__misc">
		{{#if photo.caption}}
			<h2 class="photofeed__caption">{{_uinput photo.caption }}</h2>
		{{/if}}
		{{#if photo.location}}
		{{#if photo.location.name }}
			<h3 class="photofeed__location-name">{{ photo.location.name }}</h3>
		{{/if}}
		{{#if photo.location.address }}
			<h4 class="photofeed__location-addr">{{ photo.location.address }}</h4>
		{{/if}}
		{{/if}}
		<span class="photofeed__comments-total" data-total="{{ photo.comments_count }}" data-decl="comment">{{ photo.comments_count }} {{_plural photo.comments_count 'comment'}}</span>
		<div class="photofeed__post-inter">
			<div class="photofeed__post-likers"></div>
			<div class="photofeed__post-comments"></div>
		</div>
	</div>
</div>