<div class="upload__editor-title">
	<h1 class="upload__editor-h">{{_ 'Edit' 'upload_editor'}}</h1>
	<p class="upload__editor-caption">{{_ 'Edit your photo and choose category to post' 'upload_editor'}}</p>
</div>
<div class="row upload__editor-cont">
	<div class="span5">
		<div class="upload__image-container"></div>
		<div class="upload__image-filters"></div>
	</div>
	<div class="upload__editor-misc span5">
		<ul class="upload__misc-control">
			<li class="upload__misc-control-item upload__crop"><a href="."><i class="i i-crop"></i></a></li>
			{{!<li class="upload__misc-control-item upload__contrast"><a href="."><i class="i i-contrast"></i></a></li>}}
		</ul>
		<div class="upload__caption"></div>
		<div class="upload__story-menu"></div>
		<div class="upload__geo"></div>
		<div class="upload__share"></div>
		<a href="." class="upload__publish-btn">{{_ 'Publish' 'upload_editor'}}</a>
	</div>
</div>
<div class="upload__image-crop"></div>