<div class="upload__caption-input-container">
	<input placeholder="{{_ 'Write a caption' 'upload_caption'}}" class="upload__caption-input input_clear" maxlength="300" type="text">
	<i class="i i-input-ment"></i>
	<i class="i i-input-hash"></i>
</div>
<div class="upload__caption-mentions">
	<div class="upload__loader"></div>
	<div class="upload__caption-mentions-results"></div>
</div>
<div class="upload__caption-hashes">
	<!-- <div class="upload__loader"></div> -->
	<div class="upload__caption-hashes-results"></div>
</div>

