<div class="upload__crop-title">
	<h1 class="upload__editor-h">{{_ 'Crop' 'upload_crop'}}</h1>
	<p class="upload__editor-caption">{{_ 'You can move your photo' 'upload_crop'}}</p>
</div>
<div class="upload__crop-cont">
	<div class="upload__crop-box">
		<img class="upload__crop-original">
		<div class="upload__crop-colorbar-1"></div>
		<div class="upload__crop-shadow-1"></div>
		<div class="upload__crop-colorbar-2"></div>
		<div class="upload__crop-shadow-2"></div>
	</div>
	<ul class="upload__crop-finish">
		<li class="upload__crop-finish-item"><a href="." class="upload__crop-finish-btn upload__crop-ok">{{_ 'Done' 'upload_crop'}}</a></li>
		<li class="upload__crop-finish-item"><a href="." class="upload__crop-finish-btn upload__crop-cancel">{{_ 'Cancel' 'upload_crop'}}</a></li>
	</ul>
</div>