.btn {
	.user-select(none);
	color: @white;
	text-decoration: none;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	display: inline-block;
	text-align: center;

	background-color: @blue_sexy;
	border-color: @blue_sexy_dark;
	border-style: solid;
	border-width: 0 1px 2px 0;
	padding: 10px 41px-1px 12px-2px 41px;
	.border-radius(2px);

	cursor: pointer;

	&:focus,
	&:active,
	&:hover {
		color: @white;
		text-decoration: none;
	}

	&:active {
		border-width: 2px 0 0 1px;
		padding: 10px-2px 41px 12px 41px-1px;
	}	
}

.btn_short {
	.user-select(none);
	color: @white;
	text-decoration: none;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	display: inline-block;

	background-color: @blue_sexy;
	border-color: @blue_sexy_dark;
	border-style: solid;
	border-width: 0 1px 2px 0;
	padding: 10px 28px-1px 12px-2px 28px;
	.border-radius(2px);

	&:focus,
	&:active,
	&:hover {
		color: @white;
		text-decoration: none;
	}

	&:active {
		border-width: 2px 0 0 1px;
		padding: 10px-2px 28px 12px 28px-1px;
	}	
}

.btn-blue {
	background-color: @blue_sexy;
	border-color: @blue_sexy_dark;
}

.btn-green {
	background-color: @green_sexy2;
	border-color: @green_sexy_dark;
}

.btn-gray {
	background-color: @gray;
	border-color: @grayDarker2;
}

.btn-red {
	background-color: @red_sexy;
	border-color: @red_sexy_dark;
}