// This file was generated automaticly, so don't modify it!
.i{
	background: url("/images/sprites/i-ff036.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.i{
		background: url("/images/sprites/i-2x-ff036.png") no-repeat 0 0;
	.background-size(70px 1459px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.i-add-l-success{
	width: 34px;
	height: 41px;
	background-position: 0px 0px;
}
.i-add-l-success_passive{
	width: 34px;
	height: 41px;
	background-position: 0px -42px;
}
.i-add-l{
	width: 34px;
	height: 41px;
	background-position: 0px -84px;
}
.i-add-l_m{
	width: 25px;
	height: 25px;
	background-position: 0px -126px;
}
.i-add-l_m_passive{
	width: 25px;
	height: 25px;
	background-position: 0px -152px;
}
.i-add-l_passive{
	width: 34px;
	height: 41px;
	background-position: 0px -178px;
}
.i-add{
	width: 22px;
	height: 25px;
	background-position: 0px -220px;
}
.i-add_passive{
	width: 43px;
	height: 50px;
	background-position: 0px -246px;
}
.i-arr-slide-n{
	width: 22px;
	height: 22px;
	background-position: 0px -297px;
}
.i-arr-slide-p{
	width: 22px;
	height: 22px;
	background-position: 0px -320px;
}
.i-bge-1{
	width: 62px;
	height: 80px;
	background-position: 0px -343px;
}
.i-bge-2{
	width: 30px;
	height: 39px;
	background-position: 0px -424px;
}
.i-bge-3{
	width: 30px;
	height: 39px;
	background-position: 0px -464px;
}
.i-comment-more{
	width: 16px;
	height: 10px;
	background-position: 0px -504px;
}
.i-comment-more_open{
	width: 16px;
	height: 10px;
	background-position: 0px -515px;
}
.i-contrast{
	width: 24px;
	height: 24px;
	background-position: 0px -526px;
}
.i-contrast_active{
	width: 24px;
	height: 24px;
	background-position: 0px -551px;
}
.i-crop{
	width: 24px;
	height: 24px;
	background-position: 0px -576px;
}
.i-hrt_pop{
	width: 20px;
	height: 20px;
	background-position: 0px -601px;
}
.i-input-hash{
	width: 38px;
	height: 38px;
	background-position: 0px -622px;
}
.i-input-hash_active{
	width: 38px;
	height: 38px;
	background-position: 0px -661px;
}
.i-input-ment{
	width: 38px;
	height: 38px;
	background-position: 0px -700px;
}
.i-input-ment_active{
	width: 38px;
	height: 38px;
	background-position: 0px -739px;
}
.i-nav-drop-arrow{
	width: 14px;
	height: 14px;
	background-position: 0px -778px;
}
.i-nav-drop-arrow_open{
	width: 14px;
	height: 14px;
	background-position: 0px -793px;
}
.i-no-avatar{
	width: 30px;
	height: 30px;
	background-position: 0px -808px;
}
.i-no-avatar_30{
	width: 30px;
	height: 30px;
	background-position: 0px -839px;
}
.i-no-avatar_40{
	width: 40px;
	height: 40px;
	background-position: 0px -870px;
}
.i-no-avatar_50{
	width: 50px;
	height: 50px;
	background-position: 0px -911px;
}
.i-notif-cnt{
	width: 28px;
	height: 17px;
	background-position: 0px -962px;
}
.i-notif-hi{
	width: 70px;
	height: 70px;
	background-position: 0px -980px;
}
.i-notif-hi_sm{
	width: 35px;
	height: 35px;
	background-position: 0px -1051px;
}
.i-notif-hi_sm2{
	width: 40px;
	height: 40px;
	background-position: 0px -1087px;
}
.i-popup-prev_sm{
	width: 35px;
	height: 35px;
	background-position: 0px -1128px;
}
.i-popup-x{
	width: 31px;
	height: 31px;
	background-position: 0px -1164px;
}
.i-popup-x_active{
	width: 31px;
	height: 31px;
	background-position: 0px -1196px;
}
.i-popup-x_half{
	width: 36px;
	height: 36px;
	background-position: 0px -1228px;
}
.i-scrlr{
	width: 60px;
	height: 60px;
	background-position: 0px -1265px;
}
.i-streetview{
	width: 23px;
	height: 15px;
	background-position: 0px -1326px;
}
.i-vote-sm{
	width: 11px;
	height: 9px;
	background-position: 0px -1342px;
}
.i-vote-sm_active{
	width: 11px;
	height: 9px;
	background-position: 0px -1352px;
}
.i-vote{
	width: 54px;
	height: 48px;
	background-position: 0px -1362px;
}
.i-vote_active{
	width: 54px;
	height: 48px;
	background-position: 0px -1411px;
}
.qi{
	background: url("/images/sprites/qi-5a0ac.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.qi{
		background: url("/images/sprites/qi-2x-5a0ac.png") no-repeat 0 0;
	.background-size(20px 122px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.qi-add{
	width: 14px;
	height: 14px;
	background-position: 0px 0px;
}
.qi-add_open{
	width: 14px;
	height: 14px;
	background-position: 0px -15px;
}
.qi-dclose{
	width: 14px;
	height: 14px;
	background-position: 0px -30px;
}
.qi-del{
	width: 14px;
	height: 14px;
	background-position: 0px -45px;
}
.qi-logout{
	width: 20px;
	height: 20px;
	background-position: 0px -60px;
}
.qi-my-items{
	width: 20px;
	height: 20px;
	background-position: 0px -81px;
}
.qi-profile{
	width: 20px;
	height: 20px;
	background-position: 0px -102px;
}
.ib{
	background: url("/images/sprites/ib-c5523.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.ib{
		background: url("/images/sprites/ib-2x-c5523.png") no-repeat 0 0;
	.background-size(152px 203px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.ib-gplay{
	width: 152px;
	height: 45px;
	background-position: 0px 0px;
}
.ib-itunes{
	width: 152px;
	height: 45px;
	background-position: 0px -46px;
}
.ib-logo{
	width: 60px;
	height: 60px;
	background-position: 0px -92px;
}
.ib-x{
	width: 50px;
	height: 50px;
	background-position: 0px -153px;
}
.icn{
	background: url("/images/sprites/icn-02309.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
.icn-arrow-medium_left{
	width: 11px;
	height: 18px;
	background-position: 0px 0px;
}
.icn-arrow-medium_left_hover{
	width: 11px;
	height: 18px;
	background-position: 0px -20px;
}
.icn-arrow-medium_right{
	width: 11px;
	height: 18px;
	background-position: 0px -40px;
}
.icn-arrow-medium_right_hover{
	width: 11px;
	height: 18px;
	background-position: 0px -60px;
}
.icn-arrow-small_right{
	width: 11px;
	height: 14px;
	background-position: 0px -80px;
}
.icn-arrow-small_right_hover{
	width: 11px;
	height: 14px;
	background-position: 0px -96px;
}
.icn-auth__arrow-left{
	width: 13px;
	height: 17px;
	background-position: 0px -112px;
}
.icn-auth__arrow-right{
	width: 13px;
	height: 17px;
	background-position: 0px -131px;
}
.icn-popup__close{
	width: 38px;
	height: 38px;
	background-position: 0px -150px;
}
.icn-popup__close_hover{
	width: 38px;
	height: 38px;
	background-position: 0px -190px;
}
.ip{
	background: url("/images/sprites/ip-6cd9a.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.ip{
		background: url("/images/sprites/ip-2x-6cd9a.png") no-repeat 0 0;
	.background-size(102px 291px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.ip-add-profile-bg{
	width: 87px;
	height: 101px;
	background-position: 0px 0px;
}
.ip-bio{
	width: 21px;
	height: 25px;
	background-position: 0px -102px;
}
.ip-follow-bg{
	width: 102px;
	height: 60px;
	background-position: 0px -128px;
}
.ip-follow{
	width: 22px;
	height: 16px;
	background-position: 0px -189px;
}
.ip-invite{
	width: 26px;
	height: 18px;
	background-position: 0px -206px;
}
.ip-message{
	width: 20px;
	height: 25px;
	background-position: 0px -225px;
}
.ip-report{
	width: 23px;
	height: 23px;
	background-position: 0px -251px;
}
.ip-unfollow{
	width: 22px;
	height: 16px;
	background-position: 0px -275px;
}
.isc{
	background: url("/images/sprites/isc-0ac4f.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.isc{
		background: url("/images/sprites/isc-2x-0ac4f.png") no-repeat 0 0;
	.background-size(174px 591px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.isc-apple-store{
	width: 174px;
	height: 52px;
	background-position: 0px 0px;
}
.isc-arr-land{
	width: 50px;
	height: 25px;
	background-position: 0px -53px;
}
.isc-arr-land_sm{
	width: 35px;
	height: 18px;
	background-position: 0px -79px;
}
.isc-email_sq{
	width: 47px;
	height: 47px;
	background-position: 0px -98px;
}
.isc-fb{
	width: 27px;
	height: 27px;
	background-position: 0px -146px;
}
.isc-fb_land{
	width: 28px;
	height: 28px;
	background-position: 0px -174px;
}
.isc-fb_prfl{
	width: 25px;
	height: 25px;
	background-position: 0px -203px;
}
.isc-fb_sq{
	width: 47px;
	height: 47px;
	background-position: 0px -229px;
}
.isc-play-store{
	width: 174px;
	height: 52px;
	background-position: 0px -277px;
}
.isc-tw{
	width: 27px;
	height: 27px;
	background-position: 0px -330px;
}
.isc-tw_land{
	width: 28px;
	height: 28px;
	background-position: 0px -358px;
}
.isc-tw_prfl{
	width: 25px;
	height: 25px;
	background-position: 0px -387px;
}
.isc-tw_sq{
	width: 47px;
	height: 47px;
	background-position: 0px -413px;
}
.isc-vk{
	width: 27px;
	height: 27px;
	background-position: 0px -461px;
}
.isc-vk_land{
	width: 28px;
	height: 28px;
	background-position: 0px -489px;
}
.isc-vk_prfl{
	width: 25px;
	height: 25px;
	background-position: 0px -518px;
}
.isc-vk_sq{
	width: 47px;
	height: 47px;
	background-position: 0px -544px;
}
