// This file was generated automaticly, so don't modify it!
.i{
	background: url("/images/sprites/i-9648f.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.i{
		background: url("/images/sprites/i-2x-9648f.png") no-repeat 0 0;
	.background-size(60px 60px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.i-scrlr{
	width: 60px;
	height: 60px;
	background-position: 0px 0px;
}
.isc{
	background: url("/images/sprites/isc-0ac4f.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.isc{
		background: url("/images/sprites/isc-2x-0ac4f.png") no-repeat 0 0;
	.background-size(174px 591px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.isc-apple-store{
	width: 174px;
	height: 52px;
	background-position: 0px 0px;
}
.isc-arr-land{
	width: 50px;
	height: 25px;
	background-position: 0px -53px;
}
.isc-arr-land_sm{
	width: 35px;
	height: 18px;
	background-position: 0px -79px;
}
.isc-email_sq{
	width: 47px;
	height: 47px;
	background-position: 0px -98px;
}
.isc-fb{
	width: 27px;
	height: 27px;
	background-position: 0px -146px;
}
.isc-fb_land{
	width: 28px;
	height: 28px;
	background-position: 0px -174px;
}
.isc-fb_prfl{
	width: 25px;
	height: 25px;
	background-position: 0px -203px;
}
.isc-fb_sq{
	width: 47px;
	height: 47px;
	background-position: 0px -229px;
}
.isc-play-store{
	width: 174px;
	height: 52px;
	background-position: 0px -277px;
}
.isc-tw{
	width: 27px;
	height: 27px;
	background-position: 0px -330px;
}
.isc-tw_land{
	width: 28px;
	height: 28px;
	background-position: 0px -358px;
}
.isc-tw_prfl{
	width: 25px;
	height: 25px;
	background-position: 0px -387px;
}
.isc-tw_sq{
	width: 47px;
	height: 47px;
	background-position: 0px -413px;
}
.isc-vk{
	width: 27px;
	height: 27px;
	background-position: 0px -461px;
}
.isc-vk_land{
	width: 28px;
	height: 28px;
	background-position: 0px -489px;
}
.isc-vk_prfl{
	width: 25px;
	height: 25px;
	background-position: 0px -518px;
}
.isc-vk_sq{
	width: 47px;
	height: 47px;
	background-position: 0px -544px;
}
.qi{
	background: url("/images/sprites/qi-0fc22.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.qi{
		background: url("/images/sprites/qi-2x-0fc22.png") no-repeat 0 0;
	.background-size(28px 332px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.qi-add{
	width: 14px;
	height: 14px;
	background-position: 0px 0px;
}
.qi-add_open{
	width: 14px;
	height: 14px;
	background-position: 0px -15px;
}
.qi-auth-close{
	width: 27px;
	height: 27px;
	background-position: 0px -30px;
}
.qi-balance{
	width: 20px;
	height: 20px;
	background-position: 0px -58px;
}
.qi-dclose{
	width: 14px;
	height: 14px;
	background-position: 0px -79px;
}
.qi-del{
	width: 14px;
	height: 14px;
	background-position: 0px -94px;
}
.qi-logout{
	width: 24px;
	height: 20px;
	background-position: 0px -109px;
}
.qi-my-items{
	width: 20px;
	height: 20px;
	background-position: 0px -130px;
}
.qi-profile{
	width: 20px;
	height: 20px;
	background-position: 0px -151px;
}
.qi-ru{
	width: 16px;
	height: 11px;
	background-position: 0px -172px;
}
.qi-share-fb{
	width: 28px;
	height: 28px;
	background-position: 0px -184px;
}
.qi-share-link{
	width: 28px;
	height: 28px;
	background-position: 0px -213px;
}
.qi-share-tw{
	width: 28px;
	height: 28px;
	background-position: 0px -242px;
}
.qi-share-vk{
	width: 28px;
	height: 28px;
	background-position: 0px -271px;
}
.qi-us{
	width: 16px;
	height: 11px;
	background-position: 0px -300px;
}
.qi-view{
	width: 24px;
	height: 20px;
	background-position: 0px -312px;
}
.ib{
	background: url("/images/sprites/ib-d58b6.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.ib{
		background: url("/images/sprites/ib-2x-d58b6.png") no-repeat 0 0;
	.background-size(54px 1002px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.ib-alfa{
	width: 50px;
	height: 30px;
	background-position: 0px 0px;
}
.ib-arr{
	width: 24px;
	height: 66px;
	background-position: 0px -31px;
}
.ib-easy{
	width: 50px;
	height: 30px;
	background-position: 0px -98px;
}
.ib-l1{
	width: 40px;
	height: 40px;
	background-position: 0px -129px;
}
.ib-l2{
	width: 40px;
	height: 40px;
	background-position: 0px -170px;
}
.ib-l3{
	width: 40px;
	height: 40px;
	background-position: 0px -211px;
}
.ib-land-1{
	width: 40px;
	height: 50px;
	background-position: 0px -252px;
}
.ib-land-2{
	width: 40px;
	height: 50px;
	background-position: 0px -303px;
}
.ib-land-3{
	width: 40px;
	height: 50px;
	background-position: 0px -354px;
}
.ib-land-4{
	width: 40px;
	height: 50px;
	background-position: 0px -405px;
}
.ib-land-5{
	width: 48px;
	height: 49px;
	background-position: 0px -456px;
}
.ib-land-6{
	width: 54px;
	height: 50px;
	background-position: 0px -506px;
}
.ib-li1{
	width: 34px;
	height: 35px;
	background-position: 0px -557px;
}
.ib-li2{
	width: 40px;
	height: 49px;
	background-position: 0px -593px;
}
.ib-li3{
	width: 23px;
	height: 39px;
	background-position: 0px -643px;
}
.ib-li4{
	width: 35px;
	height: 38px;
	background-position: 0px -683px;
}
.ib-li5{
	width: 32px;
	height: 32px;
	background-position: 0px -722px;
}
.ib-liqpay{
	width: 50px;
	height: 30px;
	background-position: 0px -755px;
}
.ib-mailru{
	width: 50px;
	height: 30px;
	background-position: 0px -786px;
}
.ib-mastercard{
	width: 50px;
	height: 30px;
	background-position: 0px -817px;
}
.ib-rbk{
	width: 50px;
	height: 30px;
	background-position: 0px -848px;
}
.ib-visa{
	width: 50px;
	height: 30px;
	background-position: 0px -879px;
}
.ib-webcreds{
	width: 50px;
	height: 30px;
	background-position: 0px -910px;
}
.ib-webmoney{
	width: 50px;
	height: 30px;
	background-position: 0px -941px;
}
.ib-yad{
	width: 50px;
	height: 30px;
	background-position: 0px -972px;
}
.icn{
	background: url("/images/sprites/icn-02309.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
.icn-arrow-medium_left{
	width: 11px;
	height: 18px;
	background-position: 0px 0px;
}
.icn-arrow-medium_left_hover{
	width: 11px;
	height: 18px;
	background-position: 0px -20px;
}
.icn-arrow-medium_right{
	width: 11px;
	height: 18px;
	background-position: 0px -40px;
}
.icn-arrow-medium_right_hover{
	width: 11px;
	height: 18px;
	background-position: 0px -60px;
}
.icn-arrow-small_right{
	width: 11px;
	height: 14px;
	background-position: 0px -80px;
}
.icn-arrow-small_right_hover{
	width: 11px;
	height: 14px;
	background-position: 0px -96px;
}
.icn-auth__arrow-left{
	width: 13px;
	height: 17px;
	background-position: 0px -112px;
}
.icn-auth__arrow-right{
	width: 13px;
	height: 17px;
	background-position: 0px -131px;
}
.icn-popup__close{
	width: 38px;
	height: 38px;
	background-position: 0px -150px;
}
.icn-popup__close_hover{
	width: 38px;
	height: 38px;
	background-position: 0px -190px;
}
.ip{
	background: url("/images/sprites/ip-6cd9a.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.ip{
		background: url("/images/sprites/ip-2x-6cd9a.png") no-repeat 0 0;
	.background-size(102px 291px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.ip-add-profile-bg{
	width: 87px;
	height: 101px;
	background-position: 0px 0px;
}
.ip-bio{
	width: 21px;
	height: 25px;
	background-position: 0px -102px;
}
.ip-follow-bg{
	width: 102px;
	height: 60px;
	background-position: 0px -128px;
}
.ip-follow{
	width: 22px;
	height: 16px;
	background-position: 0px -189px;
}
.ip-invite{
	width: 26px;
	height: 18px;
	background-position: 0px -206px;
}
.ip-message{
	width: 20px;
	height: 25px;
	background-position: 0px -225px;
}
.ip-report{
	width: 23px;
	height: 23px;
	background-position: 0px -251px;
}
.ip-unfollow{
	width: 22px;
	height: 16px;
	background-position: 0px -275px;
}
.is{
	background: url("/images/sprites/is-ad908.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.is{
		background: url("/images/sprites/is-2x-ad908.png") no-repeat 0 0;
	.background-size(20px 89px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.is-com{
	width: 20px;
	height: 20px;
	background-position: 0px 0px;
}
.is-lock{
	width: 11px;
	height: 11px;
	background-position: 0px -21px;
}
.is-shc-fb{
	width: 18px;
	height: 18px;
	background-position: 0px -33px;
}
.is-shc-tw{
	width: 18px;
	height: 18px;
	background-position: 0px -52px;
}
.is-shc-vk{
	width: 18px;
	height: 18px;
	background-position: 0px -71px;
}
