<section class="business-section business-section1">
	<div class="business__container">
		<div class="business__container-in">
			<h1 class="business__h1">{{_ 'sec1-h1' 'business_page'}}</h1>
			<p class="business-section1-p">{{_ 'sec1-p' 'business_page'}}</p>
			<div class="business__start">
				<a target="mail" href="mailto:ola@qstoq.ruq?subject={{_ 'Connect me' 'paysystem'}}" class="business__start-a" rel="nofollow">{{_ 'Connect' 'business_page'}}</a>
			</div>
		</div>
	</div>
</section>
<section class="business-section business-section2">
	<div class="business__container">
		<div class="business__container-in">
			<ul class="business__list">
				<li class="business__list-itm">
					<h3 class="business__list-itm-h">{{_ 'sec2-0-h' 'business_page'}}</h3>
					<p class="business__list-itm-p">{{_ 'sec2-0-p' 'business_page'}}</p>
				</li>
				<li class="business__list-itm">
					<h3 class="business__list-itm-h">{{_ 'sec2-1-h' 'business_page'}}</h3>
					<p class="business__list-itm-p">{{_ 'sec2-1-p' 'business_page'}}</p>
				</li>
				<li class="business__list-itm">
					<h3 class="business__list-itm-h">{{_ 'sec2-2-h' 'business_page'}}</h3>
					<p class="business__list-itm-p">{{_ 'sec2-2-p' 'business_page'}}</p>
				</li>
				<li class="business__list-itm">
					<h3 class="business__list-itm-h">{{_ 'sec2-3-h' 'business_page'}}</h3>
					<p class="business__list-itm-p">{{_ 'sec2-3-p' 'business_page'}}</p>
				</li>
				<li class="business__list-itm">
					<h3 class="business__list-itm-h">{{_ 'sec2-4-h' 'business_page'}}</h3>
					<p class="business__list-itm-p">{{_ 'sec2-4-p' 'business_page'}}</p>
				</li>
			</ul>
			<div class="business__screen1"></div>
			<div class="business__screen2"></div>
		</div>
	</div>
</section>
<section class="business-section business-section3">
	<div class="business__container">
		<div class="business__container-in">
			<div class="business__toggler toggle1">
				<ul class="business__toggler-menu">
					<li class="business__toggler-menu-itm">
						<a class="business__toggler-menu-itm-a" href=".">{{_ 'systems' 'business_page'}}</a>
					</li>
					<li class="business__toggler-menu-itm">
						<a class="business__toggler-menu-itm-a" href=".">{{_ 'tools' 'business_page'}}</a>
					</li>
				</ul>
				<div class="business__toggler-systems"></div>
				<div class="business__toggler-tools">
					<div class="business__toggler-systems-col">
						<ul class="business__toggler-systems-list">
							<li class="business__toggler-system"><strong>{{_ 'Mobile phone' 'business_page'}}</strong></li>
							<li class="business__toggler-system">{{_ 'MTS' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'Megafon' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'Beeline' 'business_page'}}</li>
						</ul>
						<ul class="business__toggler-systems-list">
							<li class="business__toggler-system"><strong>{{_ 'Terminals' 'business_page'}}</strong></li>
							<li class="business__toggler-system">{{_ 'terminal1' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'terminal2' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'terminal3' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'terminal4' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'terminal5' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'terminal6' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'terminal7' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'terminal8' 'business_page'}}</li>
						</ul>
					</div>
					<div class="business__toggler-systems-col">
						<ul class="business__toggler-systems-list">
							<li class="business__toggler-system"><strong>{{_ 'Credit cards' 'business_page'}}</strong></li>
							<li class="business__toggler-system">{{_ 'Visa' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'MasterCard' 'business_page'}}</li>
						</ul>
						<ul class="business__toggler-systems-list">
							<li class="business__toggler-system"><strong>{{_ 'Emoney' 'business_page'}}</strong></li>
							<li class="business__toggler-system">{{_ 'emoney1' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'emoney2' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'emoney3' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'emoney4' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'emoney5' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'emoney6' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'emoney7' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'emoney8' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'emoney9' 'business_page'}}</li>
						</ul>
					</div>
					<div class="business__toggler-systems-col">
						<ul class="business__toggler-systems-list">
							<li class="business__toggler-system"><strong>{{_ 'Internet banks' 'business_page'}}</strong></li>
							<li class="business__toggler-system">{{_ 'ibank1' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank2' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank3' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank4' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank5' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank6' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank7' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank8' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank9' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank10' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank11' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank12' 'business_page'}}</li>
						</ul>
					</div>
					<div class="business__toggler-systems-col">
						<ul class="business__toggler-systems-list">
							<li class="business__toggler-system"><strong> </strong></li>
							<li class="business__toggler-system">{{_ 'ibank13' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank14' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank15' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank16' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank17' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank18' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank19' 'business_page'}}</li>
							<li class="business__toggler-system">{{_ 'ibank20' 'business_page'}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="business-section business-section4">
	<div class="business__container">
		<div class="business__container-in">
			<ul class="business__response">
				<li class="business__response-itm">
					<div class="business__response-face"></div>
				</li>
				<li class="business__response-itm">
					<div class="business__response-pos">
						<h3 class="business__response-name">{{_ 'nm' 'business_page'}}</h3>
						<span class="business__response-ocup">{{_ 'ocup' 'business_page'}}</span>
					</div>
				</li>
				<li class="business__response-itm">
					<div class="business__response-quote">
						<i class="ib2 ib2-quo"></i>
					</div>
				</li>
				<li class="business__response-itm">
					<div class="business__response-desc">{{_ 'response_description' 'business_page'}}</div>
				</li>
				<li class="business__response-itm">
					<div class="business__response-logo"><i class="ib2 ib2-jh-logo"></i></div>
				</li>
			</ul>
		</div>
	</div>
</section>
<section class="business-section business-section4_1">
	<div class="business__container">
		<div class="business__container-in">
			<h2 class="business__h2">{{_ 'Tariff plans' 'business_page'}}</h2>
			<p class="business-section4_1-p">{{_ 'sec4_1-p' 'business_page'}}</p>
			<table class="business-section4_1__table">
				<tr>
					<th class="business-section4_1__head">
						<h3 class="business__h3">{{_ 'plan1_name' 'business_page'}}</h3>
						<span class="business-section4_1__head-price">{{_ 'plan1_price' 'business_page'}}</span>
						<span class="business-section4_1__head-curr">{{_ 'currency' 'business_page'}}</span>
						<p class="business-section4_1__head-desc">{{_ 'plan1_desc' 'business_page'}}</p>
					</th>
					<th class="business-section4_1__head">
						<h3 class="business__h3">{{_ 'plan2_name' 'business_page'}}</h3>
						<span class="business-section4_1__head-price">{{_ 'plan2_price' 'business_page'}}</span>
						<span class="business-section4_1__head-curr">{{_ 'currency' 'business_page'}}</span>
						<p class="business-section4_1__head-desc">{{_ 'plan2_desc' 'business_page'}}</p>
					</th>
					<th class="business-section4_1__head">
						<h3 class="business__h3">{{_ 'plan3_name' 'business_page'}}</h3>
						<span class="business-section4_1__head-price">{{_ 'plan3_price' 'business_page'}}</span>
						<span class="business-section4_1__head-curr">{{_ 'currency' 'business_page'}}</span>
						<p class="business-section4_1__head-desc">{{_ 'plan3_desc' 'business_page'}}</p>
					</th>
					<th class="business-section4_1__head">
						<h3 class="business__h3">{{_ 'plan4_name' 'business_page'}}</h3>
						<span class="business-section4_1__head-price">{{_ 'plan4_price' 'business_page'}}</span>
						<span class="business-section4_1__head-curr">{{_ 'currency' 'business_page'}}</span>
						<p class="business-section4_1__head-desc">{{_ 'plan4_desc' 'business_page'}}</p>
					</th>
				</tr>
				<tr>
					<td class="business-section4_1__cell">
						<strong>{{_ 'plan1_desc2' 'business_page'}}</strong>
					</td>
					<td class="business-section4_1__cell">
						<strong>{{_ 'plan2_desc2' 'business_page'}}</strong>
					</td>
					<td class="business-section4_1__cell">
						<strong>{{_ 'plan3_desc2' 'business_page'}}</strong>
					</td>
					<td class="business-section4_1__cell">
						<strong>{{_ 'plan4_desc2' 'business_page'}}</strong>
					</td>
				</tr>
				<tr>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat1' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat1' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat1' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat1' 'business_page'}}</span>
					</td>
				</tr>
				<tr>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat2' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat2' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat2' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat2' 'business_page'}}</span>
					</td>
				</tr>
				<tr>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat3' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat3' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat3' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat3' 'business_page'}}</span>
					</td>
				</tr>
				<tr>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat4' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat4' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat4' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat4' 'business_page'}}</span>
					</td>
				</tr>
				<tr>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat5' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat5' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat5' 'business_page'}}</span>
					</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat5' 'business_page'}}</span>
					</td>
				</tr>
				<tr>
					<td class="business-section4_1__cell business-section4_1__cell_empty" colspan="3" rowspan="2">&nbsp;</td>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat6' 'business_page'}}</span>
					</td>
				</tr>
				<tr>
					<td class="business-section4_1__cell">
						<span>{{_ 'plan_feat7' 'business_page'}}</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</section>
<section class="business-section business-section5">
	<div class="business__container">
		<div class="business__container-in">
			<h2 class="business__h2">{{_ 'Connect Qstoq' 'business_page'}}</h2>
			<form class="business__connect-form">
				<input type="text" class="business__connect-email" name="email" placeholder="{{_ 'e-mail' 'business_page'}}">
				<button type="submit" class="business__connect-submit" value="{{_ 'submit' 'business_page'}}">{{_ 'submit' 'business_page'}}</button>
			</form>
			<p class="business__connect-p">{{_ 'connect-p' 'business_page'}}</p>
		</div>
	</div>
</section>