<section class="business-section business-section1">
	<div class="business__container">
		<div class="business__container-in">
			<h1 class="business__h1">{{_ 'sec1-h1' 'business_page'}}</h1>
			<p class="business-section1-p">{{_ 'sec1-p' 'business_page'}}</p>
			<div class="business__start">
				<a target="mail" href="mailto:ola@qstoq.meq?subject={{_ 'Connect me' 'paysystem'}}" class="business__start-a" rel="nofollow">{{_ 'Connect' 'business_page'}}</a>
			</div>
		</div>
	</div>
</section>
<section class="business-section business-section2">
	<div class="business__container">
		<div class="business__container-in">
			<ul class="business__list">
				<li class="business__list-itm">
					<h3 class="business__list-itm-h">{{_ 'sec2-0-h' 'business_page'}}</h3>
					<p class="business__list-itm-p">{{_ 'sec2-0-p' 'business_page'}}</p>
				</li>
				<li class="business__list-itm">
					<h3 class="business__list-itm-h">{{_ 'sec2-1-h' 'business_page'}}</h3>
					<p class="business__list-itm-p">{{_ 'sec2-1-p' 'business_page'}}</p>
				</li>
				<li class="business__list-itm">
					<h3 class="business__list-itm-h">{{_ 'sec2-2-h' 'business_page'}}</h3>
					<p class="business__list-itm-p">{{_ 'sec2-2-p' 'business_page'}}</p>
				</li>
				<li class="business__list-itm">
					<h3 class="business__list-itm-h">{{_ 'sec2-3-h' 'business_page'}}</h3>
					<p class="business__list-itm-p">{{_ 'sec2-3-p' 'business_page'}}</p>
				</li>
				<li class="business__list-itm">
					<h3 class="business__list-itm-h">{{_ 'sec2-4-h' 'business_page'}}</h3>
					<p class="business__list-itm-p">{{_ 'sec2-4-p' 'business_page'}}</p>
				</li>
			</ul>
			<div class="business__screen1"></div>
			<div class="business__screen2"></div>
		</div>
	</div>
</section>
<section class="business-section business-section3">
	<div class="business__container">
		<div class="business__container-in">
			<div class="business__toggler toggle1">
				<ul class="business__toggler-menu">
					<li class="business__toggler-menu-itm">
						<a class="business__toggler-menu-itm-a" href=".">{{_ 'tools' 'business_page'}}</a>
					</li>
					<li class="business__toggler-menu-itm">
						<a class="business__toggler-menu-itm-a" href=".">{{_ 'systems' 'business_page'}}</a>
					</li>
				</ul>
				<div class="business__toggler-tools"></div>
				<div class="business__toggler-systems"></div>
			</div>
		</div>
	</div>
</section>
<section class="business-section business-section4">
	<div class="business__container">
		<div class="business__container-in">
			<ul class="business__response">
				<li class="business__response-itm">
					<div class="business__response-face"></div>
				</li>
				<li class="business__response-itm">
					<div class="business__response-pos">
						<h3 class="business__response-name">{{_ 'nm' 'business_page'}}</h3>
						<span class="business__response-ocup">{{_ 'ocup' 'business_page'}}</span>
					</div>
				</li>
				<li class="business__response-itm">
					<div class="business__response-quote">
						<i class="ib2 ib2-quo"></i>
					</div>
				</li>
				<li class="business__response-itm">
					<div class="business__response-desc">{{_ 'response_description' 'business_page'}}</div>
				</li>
				<li class="business__response-itm">
					<div class="business__response-logo"><i class="ib2 ib2-jh-logo"></i></div>
				</li>
			</ul>
		</div>
	</div>
</section>
<section class="business-section business-section5">
	<div class="business__container">
		<div class="business__container-in">
			<h2 class="business__h2">{{_ 'Connect Qstoq' 'business_page'}}</h2>
			<form class="business__connect-form">
				<input type="text" class="business__connect-email" name="email" placeholder="{{_ 'e-mail' 'business_page'}}">
				<button type="submit" class="business__connect-submit" value="{{_ 'submit' 'business_page'}}">{{_ 'submit' 'business_page'}}</button>
			</form>
			<p class="business__connect-p">{{_ 'connect-p' 'business_page'}}</p>
		</div>
	</div>
</section>