<form action="." class="confirmation-form">
	<ul class="confirmation-caption-list">
		<li class="confirmation-caption">{{_ 'We have sent you e-mail with confirmation link. Again. Please confirm.' 'confirmation_page'}}</li>
		<li class="confirmation-caption">{{_ 'We have sent you e-mail with confirmation link. Please confirm.' 'confirmation_page'}}</li>
		<li class="confirmation-caption">{{_ 'We have sent you e-mail with confirmation link. Again. Please confirm.' 'confirmation_page'}}</li>
		<li class="confirmation-caption">{{_ 'We have sent you e-mail with confirmation link. Please confirm.' 'confirmation_page'}}</li>
	</ul>
	<div class="confirmation-btn">{{_ 'Resend' 'confirmation_page'}}<i class="icn icn-arrow-medium_right"></i></div>
	<input type="submit" class="inv">
</form>