<section class="landing-section landing-section1">
	<div class="landing__container">
		<div class="landing__container-in">
			<h1 class="landing__h1">{{_ 'Get payments online<br/>for what ever and where ever you want' 'landing_page'}}</h1>
			<p class="landing-section1-p">{{_ 'section1-p' 'landing_page'}}</p>
			<a href="/auth" class="landing__start-a">{{_ 'Start' 'landing_page'}}</a>
		</div>
	</div>
	<a href="/next" class="landing__next-a">
		<span class="landing__next-title">{{_ 'How does it work' 'landing_page'}}</span>
		<i class="ib ib-arr"></i>
	</a>
</section>
<section class="landing-section landing-section2">
	<div class="landing__container">
		<div class="landing__container-in">
			<h2 class="landing-s-h">{{_ 'How does Qstoq work' 'landing_page'}}</h2>
			<ul class="landing__list">
				<li class="landing__list-itm">
					<i class="ib ib-l1"></i>
					<h3 class="landing__list-itm-h">{{_ 'Add your product' 'landing_page'}}</h3>
					<p class="landing__list-itm-p">{{_ 'section2-1-1-p' 'landing_page'}}</p>
					<h4 class="landing__list-itm-h2">{{_ 'Prepaire for sale' 'landing_page'}}</h4>
					<p class="landing__list-itm-p">{{_ 'section2-1-2-p' 'landing_page'}}</p>
				</li>
				<li class="landing__list-itm">
					<i class="ib ib-l2"></i>
					<h3 class="landing__list-itm-h">{{_ 'Publish the link' 'landing_page'}}</h3>
					<p class="landing__list-itm-p">{{_ 'section2-2-1-p' 'landing_page'}}</p>
					<h4 class="landing__list-itm-h2">{{_ 'Sell where your audience is' 'landing_page'}}</h4>
					<p class="landing__list-itm-p">{{_ 'section2-2-2-p' 'landing_page'}}</p>
				</li>
				<li class="landing__list-itm">
					<i class="ib ib-l3"></i>
					<h3 class="landing__list-itm-h">{{_ 'Receive money' 'landing_page'}}</h3>
					<p class="landing__list-itm-p">{{_ 'section2-3-1-p' 'landing_page'}}</p>
					<h4 class="landing__list-itm-h2">{{_ 'Clear terms of cooperation' 'landing_page'}}</h4>
					<p class="landing__list-itm-p">{{_ 'section2-3-2-p' 'landing_page'}}</p>
				</li>
			</ul>
		</div>
	</div>
</section>
<section class="landing-section landing-section3">
	<div class="landing__container">
		<div class="landing__container-in">
			<h2 class="landing-s-h">{{_ 'Qstoq will help you to get payments online in many situations:' 'landing_page'}}</h2>
			<ul class="landing__list">
				<li class="landing__list-itm">
					<i class="ib ib-land-1"></i>
					<h3 class="landing__list-itm-h">{{_ 'Donate' 'landing_page'}}</h3>
					<p class="landing__list-itm-p">{{_ 'section3-1-1-p' 'landing_page'}}</p>
				</li>
				<li class="landing__list-itm">
					<i class="ib ib-land-2"></i>
					<h3 class="landing__list-itm-h">{{_ 'Sell of content' 'landing_page'}}</h3>
					<p class="landing__list-itm-p">{{_ 'section3-2-1-p' 'landing_page'}}</p>
				</li>
				<li class="landing__list-itm">
					<i class="ib ib-land-4"></i>
					<h3 class="landing__list-itm-h">{{_ 'E-learning and consultations' 'landing_page'}}</h3>
					<p class="landing__list-itm-p">{{_ 'section3-3-1-p' 'landing_page'}}</p>
				</li>
				<li class="landing__list-itm">
					<i class="ib ib-land-5"></i>
					<h3 class="landing__list-itm-h">{{_ 'Goods and services' 'landing_page'}}</h3>
					<p class="landing__list-itm-p">{{_ 'section3-4-1-p' 'landing_page'}}</p>
				</li>
				<li class="landing__list-itm">
					<i class="ib ib-land-6"></i>
					<h3 class="landing__list-itm-h">{{_ 'Charity' 'landing_page'}}</h3>
					<p class="landing__list-itm-p">{{_ 'section3-5-1-p' 'landing_page'}}</p>
				</li>
			</ul>
			<a href="/auth" class="landing__start-a">{{_ 'Start' 'landing_page'}}</a>
		</div>
	</div>
</section>