<form action="." class="reset-form">
	<input type="email" name="email" placeholder="{{_ 'Enter e-mail you used for registration' 'reset_page'}}" class="reset-login input_clear" maxlength="32">
	<span class="reset-error reset-error_invalid">{{_ 'Doesn&#39;t look like a valid e-mail' 'reset_page'}}</span>
	<span class="reset-error reset-error_nouser">{{_ 'No user with this e-mail' 'reset_page'}}</span>
	<div class="reset-btn">{{_ 'Reset' 'reset_page'}}<i class="icn icn-arrow-medium_right"></i></div>
	<input type="submit" class="inv">
</form>
<span class="reset-success">{{_ 'Password was sent to your <a href="http://gmail.com" target="_blank" class="reset-success">e-mail</a>.' 'reset_page'}}</span>