<form action="." class="setpassword-form">
	<input type="password" name="password" placeholder="{{_ 'New password' 'setpassword_page'}}" class="setpassword-password input_clear" maxlength="16" autocomplete="off">
	<span class="setpassword-error setpassword-error_invalid">{{_ 'Please use at least 6 characters' 'setpassword_page'}}</span>
	<span class="setpassword-error setpassword-error_error">{{_ 'Something went wrong (;_;)' 'setpassword_page'}}</span>
	<div class="setpassword-btn">{{_ 'Set' 'setpassword_page'}}<i class="icn icn-arrow-medium_right"></i></div>
	<input type="submit" class="inv">
</form>
<span class="setpassword-success">{{_ 'Password was changed.' 'setpassword_page'}}</span>