Options +FollowSymLinks

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^[w\.]*qstoq.io[:80]* [OR]
RewriteCond %{HTTP_HOST} ^[w\.]*qstoq.ru[:80]*
RewriteRule ^(.*)$ http://qstoq.ru/$1 [R=301,L]

RewriteBase /
RewriteRule ^(scripts|styles|images|images_static|go|docs|templates|.*\.txt|.*\.xml|.*\.ico)($|/) - [L]

RewriteCond %{HTTP_USER_AGENT} (yandex\w+|googlebot|facebookexternalhit|vkshare|adsbot-google|bingbot|msnbot|psbot|gigabot|twitterbot|linkedinbot|yahoo-mmcrawler|pingdom\.com_bot) [NC]
RewriteRule (.*) http://188.226.204.196:3333/$1 [P]

RewriteRule ^(.*)$ index.html [L]