.content_docs {
  width: 640px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  line-height: 18px;
  font-family: Helvetica, Arial, Tahoma;
  text-align: justify;
  color: #111;
}
.docs_tittle {
  font-size: 16px;
  color: #333;
}
a {
  color: #a41800;
}
a:link {
  color: #a41800;
}
a:hover {
  color: #ff2500;
}
