/* класс помечающий текстовые поля как ошибочные */
.err-input {
	border: 1px solid red !important;
}


/* кнопочки*/
.bt {
	background: #39BDDE;
	background: rgb(117,207,226);
	background: -moz-linear-gradient(top,  rgba(117,207,226,1) 0%, rgba(57,189,222,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,207,226,1)), color-stop(100%,rgba(57,189,222,1)));
	background: -webkit-linear-gradient(top,  rgba(117,207,226,1) 0%,rgba(57,189,222,1) 100%);
	background: -o-linear-gradient(top,  rgba(117,207,226,1) 0%,rgba(57,189,222,1) 100%);
	background: -ms-linear-gradient(top,  rgba(117,207,226,1) 0%,rgba(57,189,222,1) 100%);
	background: linear-gradient(top,  rgba(117,207,226,1) 0%,rgba(57,189,222,1) 100%);

	font-size:1.6em;
	font-style: normal;
	font-weight:bold;
	text-decoration: none;
	text-align: center;
	line-height: 1;

	color: #fff !important;
	position:relative;
	display: block;
	width: 100%;
	cursor: pointer;
	/*padding:0.5em 0 0.4375em;*/
	padding: 0.6875em 0;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
			user-select: none;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		 -ms-box-sizing: border-box;
		  -o-box-sizing: border-box;
			 box-sizing: border-box;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
	border:1px solid rgba(0,0,0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
			box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
}

.bt:active {
	-webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.7);
			box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.7);	
}

/* закругления */
.brd-rnd {
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
		-ms-border-radius: 8px;
		 -o-border-radius: 8px;
			border-radius: 8px;
}

.brd-rnd-top {
	-webkit-border-radius: 8px 8px 0 0;
	   -moz-border-radius: 8px 8px 0 0;
		-ms-border-radius: 8px 8px 0 0;
		 -o-border-radius: 8px 8px 0 0;
			border-radius: 8px 8px 0 0;
}

.brd-rnd-btm {
	-webkit-border-radius: 0 0 8px 8px;
	   -moz-border-radius: 0 0 8px 8px;
		-ms-border-radius: 0 0 8px 8px;
		 -o-border-radius: 0 0 8px 8px;
			border-radius: 0 0 8px 8px;
}

.brd-rnd-2 {
	-webkit-border-radius: 16px;
	   -moz-border-radius: 16px;
		-ms-border-radius: 16px;
		 -o-border-radius: 16px;
			border-radius: 16px;
}


/* поля ввода*/
.qp-inp-empty{
	display:block;
	background-clip:padding-box;
	 -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		 -ms-box-sizing: border-box;
		  -o-box-sizing: border-box;
			 box-sizing: border-box;
	font-size:1.6em;
	font-weight: bold;
	line-height:1;
	color:#1F1712;
	width:100%;
	padding:0.5em 0.5em 0.4375em;
	border:0 none;
	background:transparent none;
}

.qp-inp-ro {
	display:inline-block;
	line-height:1;
	color:#96928f;
	width:100%;
	padding:0;
	border:0 none;
	background:transparent none;
}


.qp-inp {
	display:block;
	background-clip:padding-box;
	 -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		 -ms-box-sizing: border-box;
		  -o-box-sizing: border-box;
			 box-sizing: border-box;
	font-weight: bold;
	background:#fff;
	color:#1F1712;
	 -webkit-box-shadow: inset -1px 3px 7px rgba(0, 0, 0, 0.17);
		-moz-box-shadow: inset -1px 3px 7px rgba(0, 0, 0, 0.17);
		 -ms-box-shadow: inset -1px 3px 7px rgba(0, 0, 0, 0.17);
		  -o-box-shadow: inset -1px 3px 7px rgba(0, 0, 0, 0.17);
			 box-shadow: inset -1px 3px 7px rgba(0, 0, 0, 0.17);
	border:1px solid #c0c0c0;
	width:100%;
	line-height:1;
	padding:0.5em 0.5em 0.4375em;
	font-size:1.6em;
}

/* группа полей ввода */

.qp-inp-group {
	position: relative;
	display:block;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		 -ms-box-sizing: border-box;
		  -o-box-sizing: border-box;
			 box-sizing: border-box;
	 -webkit-box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.17);
		-moz-box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.17);
		 -ms-box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.17);
		  -o-box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.17);
			 box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.17);
	border:1px solid rgba(0,0,0, 0.4);

	width:100%;
	overflow: hidden;
/*	-webkit-transition: height 0.5s ease-in-out;
	   -moz-transition: height 0.5s ease-in-out;
		-ms-transition: height 0.5s ease-in-out;
		 -o-transition: height 0.5s ease-in-out;
			transition: height 0.5s ease-in-out;*/
}



.msg-out {
	position: fixed;
	top:0;
	left:50%;
	margin-left:-160px;
	width: 320px;
	text-align: center;
}

.msg-ok,
.msg-err {
	display: block;
	padding: 1.4rem;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
		-ms-border-radius: 8px;
		 -o-border-radius: 8px;
			border-radius: 8px;
	 -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		 -ms-box-sizing: border-box;
		  -o-box-sizing: border-box;
			 box-sizing: border-box;
	background-color: rgba(57,189,222,.5);
	color: #000;
	font-size: 1.4rem;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.7);
	margin: 0.8rem auto 0;
}


.msg-err {
	background-color: rgba(102,78,60,.5);
}