.items {
	width: 100%;
	padding: 0;
	font-size: 1.6em;
}

.add-line {
	text-align: right;
	margin-bottom: 1.6em;
	overflow: hidden;
}

.add-bt {
	display: inline-block;
	width: auto;
	padding: 0.6875em;
	float: right;
}

.items-td {
	padding: 1em;
	border-bottom: 1px solid rgba(102, 78, 60, 0.17);
	/*border-bottom: 1px solid #664E3C;*/
	vertical-align: middle;
}

.items tr:last-child td {
	border-bottom: 0 none;
}


.item-name {
	width: 45%;
	padding-left: 0;
}

.item-desc {
	display: block;
}

.item-short {
	cursor: pointer;
}

.item-price{
	text-align: right;
	padding-right: 0;
}

.price {
	display: inline-block;
	background-color: #ACEEFF;
	padding: 0.2em 0.4em;
	white-space: nowrap;
}


.items-table {
	z-index: 10
}
/*.items-table:after {
	z-index: 9;
	content:"";
	background-color: #DDD;
	display: block;
	height: 30px;
	width: 77%;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 15px #000;
			box-shadow: 0 0 15px #000;

}*/



.add-form {
	text-align:left;
	margin-right: 1.2em;
	display: inline-block;
	opacity:0;
	-webkit-transition: opacity 0.5s;
	   -moz-transition: opacity 0.5s;
			transition: opacity 0.5s;
}

.add-form-ani {
	opacity:1;
}

.add-nm,
.add-lnk,
.add-pc {
	display: inline-block;
	margin-left: 1.2em;
	margin-top: 0.2em;
}



/* Валюта в форме ввода */
.add-pc {
	position: relative;
	width:170px;
}


.add-pc-RUR .brd-rnd {
	-webkit-border-radius: 8px 0 0 8px;
	   -moz-border-radius: 8px 0 0 8px;
			border-radius: 8px 0 0 8px;
	margin-right: 30px;
	width:140px;
}

.add-pc-RUR label {
	position:absolute;
	display: block;
	top:0;
	right:0;
	bottom: 0;
	width:30px;
    padding-top: 0.5em;
	background-color: #ACEEFF;
	font-size: 1.6em;
	text-align: center;
	line-height: 1.0675;
	-webkit-border-radius: 0 8px 8px 0;
	   -moz-border-radius: 0 8px 8px 0;
			border-radius: 0 8px 8px 0;
	
	border: 1px solid #c0c0c0;
}

/* анимация строки меню - контейнера - прозрачность - перенес в строку внутри*/
/*.csstransforms3d .add-form div{
	-webkit-perspective: 400;
	-moz-perspective: 400;
}*/

/* анимация строки меню - внутри - 3d искажение + прозрачность */
/*.csstransforms3d .add-inp{
	-webkit-perspective: 0;
		-moz-perspective: 0;
	-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property: -webkit-transform, opacity;
	-webkit-transition-duration: 200ms;
		-moz-transition-duration: 200ms;
	-webkit-transition-timing-function: linear;
		-moz-transition-timing-function: linear;
	-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
	-webkit-transform: rotate3d(1,0,0,-90deg);
		-moz-transform: rotate3d(1,0,0,-90deg);
	opacity: 0;
}
*/
/*.csstransforms3d .add-lnk .add-inp{
	-webkit-transition-delay: 150ms;
		-moz-transition-delay: 150ms;
}

.csstransforms3d .add-nm .add-inp{
	-webkit-transition-delay: 350ms;
		-moz-transition-delay: 350ms;
}

.csstransforms3d .add-form-ani .add-inp {
	-webkit-transform: rotate3d(1,0,0,0deg);
		-moz-transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}
*/

/* отзывчивая верстка для таблицы линков */
@media all and (max-width: 480px){
	.items tr,
	.items td {
		display: block;
		overflow-x: hidden;
		border: 0 none;
	}

	.items tr {
		border-bottom: 1px solid rgba(102, 78, 60, 0.17);
	}

	.item-name {
		width: auto;
		padding-bottom: 0;
		padding-left: 1em;
	}

	.item-share {
		float:left;
		padding: 1.2em 0 1.2em 1em;
	}

	.item-price {
		display: inline-block;
		float: right;
		padding: 1em 0.8em;
	}

	.add-line {
		margin-right: 1.2em;
	}

}