/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */


/*
color scheme
http://kuler.adobe.com/#themeID/702509
#FFFFFF
#ACEEFF
#75CFE2
#39BDDE
#664E3C
*/
::-webkit-input-placeholder {
    color: #c0c0c0;
}
:-moz-placeholder {
    color: #c0c0c0;
}

input:focus{
  outline:none;
}


html {
	height: 100%;
}

body {
	text-rendering: optimizeLegibility;
	height: 100%;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}