/* Authorization */
.auth-popup {
	&.popup__table {
		background-color: rgba(0,0,10,.44);
	}
	.popup__inner {
		width: 480px;
		border: 0 none;
		// .box-shadow (0 5px 20px rgba(0,10,33,.12));
		// background-color: rgba(255,255,255,.2);
	}

	.popup__content {
		margin: 0;
		background-color: @white;
	}

	.popup__close {
		display: none;
	}
}

.auth__cont {
	background-color: @grayLighter2;
	overflow: hidden;
}

.auth__close {
	float: right;
	cursor: pointer;
	background-color: @grayDarker10;
	margin-top: -27px;
}

.auth__social {
	margin: 34px 40px 40px;

	&-h {
		padding: 0;
		margin: 0 0 25px -1px;
		font-weight: 700;
		font-size: 18px;
		line-height: 20px;
	}

	// &-list {

	// }

		&-item {
			display: inline-block;
			margin-right: 10px;

			&-lnk {
				display: inline-block;
				vertical-align: top;
				.border-radius(2px);
				color: @white;
				text-decoration: none;
				font-size: 0;
				line-height: 0;
				border-style: solid;
				border-width: 	0 1px 2px 0;
				padding: 		16px 16px-1px 16px-2px 16px;


				&:hover,
				&:active,
				&:focus {
					text-decoration: none;
				}

				&:active {
					border-width:  		2px 0 0 1px;
					padding: 			16px-2px 16px 16px 16px-1px;
				}

				&_vk {
					background-color: 	@vkColorLight;
					border-color: 		@vkColorDark;
				}

				&_fb {
					background-color: 	@fbColorLight;
					border-color: 		@fbColorDark;
				}
			}
				&-icn {
					vertical-align: top;
				}
		}
}



.auth__sign {
	margin: 40px 40px 0;
	padding-top: 3px;

	&-h {
		padding: 0;
		margin: 0 0 17px -1px;
		font-weight: 700;
		font-size: 18px;
		line-height: 20px;
	}

	&-toggler {
		float: right;
		line-height: 24px;
		color: #aeb6be;
	}

	.qst__inp-group {
		background-color: @white;
	}

		.qst__inp-cont {
			padding: 12px 10px 13px;
		}

		& &-inp-name-cont {
			.transition(all .2s);
			height: 0;
			padding: 0 10px 0;
			border-width: 0;
			overflow: hidden;
		}

	&-submit-hidden {
		.hidden-submit;
	}

	&-submit {
		margin: 8px -40px 0;
		padding: 26px 40px 26px;
		text-align: right;
		background-color: @white;
		.transition(background-color .2s);

		&-a {
			.btn;
			.btn-blue;
		}
		&-error {
			font-size: 13px;
			line-height: 14px;
			color: @white;
			.transition(all .3s);
			opacity: 0;
		}
	}


	&-user-agreement {
		font-size: 12px;
		line-height: 16px;
		width: 320px;
		margin-bottom: 27px;
	}

}


// Errors

.error {
	.auth__sign {
		&-submit {
			background-color: @red;

			&-error {
				opacity: 1;
				padding-right: 20px;
			}
		}

	}
}


// States 
.signin {
	.auth__sign {
		&-h {
			&_signin {
				display: block;
			}
			&_signup {
				display: none;
			}
			&_emailconfirm {
				display: none;
			}
		}

		&-toggler {
			&_signin {
				display: none;
			}

			&_signup {
				display: static;
			}
		}

		// &-inp-name-cont {
		// 	display: none;
		// }

		&-user-agreement {
			display: none;
		}

		&-submit {
			&_signin {
				display: inline-block;
			}
			&_signup {
				display: none;
			}
			&_emailconfirm {
				display: none;
			}
		}
	}

	.qst__inp-group {
		margin-bottom: 50px;
	}
}


.signup {
	.auth__sign {
		&-h {
			&_signin {
				display: none;
			}
			&_signup {
				display: block;
			}
			&_emailconfirm {
				display: none;
			}
		}

		&-toggler {
			&_signin {
				display: static;
			}

			&_signup {
				display: none;
			}
		}

		&-inp-name-cont {
			height: 14px;
			padding: 12px 10px 13px;
			border-bottom: 1px solid @grayLighter02;
		}

		&-user-agreement {
			display: block;
		}

		&-submit {
			&_signin {
				display: none;
			}
			&_signup {
				display: inline-block;
			}
			&_emailconfirm {
				display: none;
			}
		}
	}
}

.emailconfirm {
	.auth__social {
		display: none;
	}
	
	.auth__sign {
		&-h {
			&_signin {
				display: none;
			}
			&_signup {
				display: none;
			}
			&_emailconfirm {
				display: block;
			}
		}

		&-toggler {
			display: none;
		}

		&-inp-password-cont {
			height: 0;
			padding: 0 10px 0;
			border-width: 0;
			overflow: hidden;
		}

		&-user-agreement {
			display: none;
		}

		&-submit {
			&_signin {
				display: none;
			}
			&_signup {
				display: none;
			}
			&_emailconfirm {
				display: inline-block;
			}
		}
	}
}