.adddialog-cont {
	position: relative;
	z-index: 2;
}

	.adddialog__add {
		font-size: 13px;
		line-height: 20px;
		color: @textColor;
		text-decoration: none;
		z-index: 2;


		&:hover {
			color: @textColor;
			text-decoration: none;
		}

		&-title {
			text-decoration: underline;
		}

		.qi-add {
			margin-right: 4px;
			vertical-align: middle;
		}
	}

	.adddialog__dialog {
		position: absolute;
		z-index: 2;
		top: -6px;
		left: -16px;
		width: 660px;
		overflow: hidden;
		font-size: 13px;
		.border-radius(2px);
		.box-shadow(0 5px 10px rgba(0,0,0,.35));
		display: none;
	}

	.open {
		.adddialog__dialog {
			display: block;
		}
	}

		.adddialog__header {
			font-size: 14px;
			background-color: @headerColor;
			font-weight: 500;
			color:@white;
			cursor: default;

			padding: 6px 30px 8px 16px;

			.qi-add_open {
				margin-right: 8px;
				margin-bottom: 2px;
				vertical-align: bottom;
			}

			.qi-dclose {
				float: right;
				margin-top: 3px;
				cursor: pointer;
			}

			.user-select(none);
		}


		.adddialog__form {
			padding: 28px 40px 32px;
			z-index: 4;
			background-color: @white;
		}

		.adddialog__submit {
			padding: 27px 40px 29px;
			text-align: right;
			background-color: @grayLighter2;
			.transition(background-color .2s);
		}

			.adddialog__submit-a {
				color: @white;
				text-decoration: none;
				background-color: #46b486;
				font-size: 13px;
				line-height: 14px;
				padding:13px 18px 12px;
				display: inline-block;
				#gradient .vertical(#46b486, #279763);

				&:hover {
					color: @white;
					text-decoration: none;
				}
			}



// Errors
.adddialog__error {
	color: @white;
	.transition(all .3s);
	opacity: 0;
}

.error {
	.adddialog__submit {
		background-color: @red;
	}
	.adddialog__error {
		opacity: 1;
		padding-right: 20px;
	}
}
