.error-page__list,
.error-page__description {
	margin-top: 40px;

	font-size: 22px;
	line-height: 32px;
	color: @grayDarker;
}

.error-page__list {
}
	.error-page__list-item{
		margin-bottom: 10px;

		&:before {
			content: '•	';
		}
	}