footer {
	background-color: @grayDarker3;
	padding: 30px 0 90px;

	.qi {
		margin: 0 0 10px;
	}

	p {
		width: 290px;
		margin: 0;
		padding: 0;
		display: block;
		font-size: 11px;
		line-height: 16px;
		color: @white;
	}
}