.itemedit__description {
	resize: none;
}

.qst__lbl {
	font-size: 13px;
	line-height: 1.2;
	float: left;
	position: relative;
	color: @grayLight;
}

.itemedit {
	.qst__inp {
		margin-left: 146px;
	}
}