.itemlist {
	margin-bottom: 40px;
}

// .photofeed__container {
// }

.itemlist__spinner {
	width: 100%;
	height: 66px;
	background: url(/images/ani/spinner.gif)  center center no-repeat;
}


.itemlist-head {
	margin-top: 48px;
	margin-bottom: 40px;

	&__cnt {
		display: inline-block;
		color: #222a32;
		font-size: 18px;
		line-height: 31px;
		font-weight: 700;
		margin-right: 13px;
		vertical-align: top;
	}

	&__btn {
		display: inline-block;
		vertical-align: top;
	}
}









.link__price,
.link__view-count,
.link__sold-count,
.link__overall {
	width: 80px;
}

.link__toggle {
	width: 120px;
}
.link__link {
	width: 130px;
}
	.link__sp {
		margin-right: 20px;
	}


.itemlist__table-cont {
	// background: @white url(/images/qb/bgl.png) top left repeat-y;
	background: @white;
	border: 2px solid #9098a0;
	.border-radius(2px);
}

		.link__toggle-sp {
			overflow: hidden;
			opacity: 0;
			.transition(opacity .3s);
		}

.itemlist__table {
	width: 100%;
	border-spacing: 0;
	border-collapse:collapse;
}


	.itemlist__table-head {
		background-color: @grayLighter2;
		th {
			font-size: 11px;
			font-weight: 400;
			text-align: right;
			line-height: 1;
			padding: 19px 0;
			color: @gray;

			&.link__caption {
				text-align: left;
				// width: (@gridColumnWidth + @gridGutterWidth)*5 - 20px;
				padding-left: 23px;
			}

			&.link__link {
				text-align: left;
				.link__sp {
					margin-left: 10px;
				}
			}
		}
	}

	.itemlist__link {
		border-bottom: 1px solid @grayLighter2;
		.transition(all .15s);
		width: 100%;
		

		td {
			padding: 24px 0 22px;
			font-size: 14px;
			font-weight: 400;
			line-height: 1;
			text-align: right;
			color: @textColor;
			vertical-align: middle;

			&.link__link,
			&.link__caption {
				text-align: left;
			}
			&.link__link {
				.qst__inp {
					font-size: 11px;
					width: 100px;
					text-align: center;
				}
			}

			&.link__view-count,
			&.link__toggle {
				font-size: 11px;
			}

			&.link__view-count {
				color: @gray;
				font-size: 11px;
			}
		}

		&.active,
		&:hover {
			background-color: @grayLighter2;

			.link__link-sp {
				background-color: @white;
				border-color: @grayLight1;
				border-top-color: @grayLight10;
			}

			.link__toggle-sp {
				opacity: 1;
			}

		}
	}
				.link__caption-a {
					margin: 0 17px;
					color: @textColor;
					display: block;

					&:hover {
						color: @textColor;
					}
				}

				.link__link-sp {
					background-color: rgba(0,0,0,0);
					padding: 4px 6px 5px;
					margin-top: -4px;
					margin-bottom: -5px;
					display: inline-block;
					.border-radius(2px);
					border-width: 1px;
					border-style: solid;
					border-color: rgba(0,0,0,0);
					.transition(all .3s);
				}




// empty
.itemlist-row_empty {
	display: none;
	margin-bottom: 100px;
	background-color: @grayLighter2;
	position: relative;

	&::before {
		border-color: #ffecbc;
		content: '';
		display: block;
		position: absolute;
		top:   0;
		right: 0;
		border-style: solid;
		border-width: 15px;
		border-top-color: @white;
		border-right-color: @white;
		width: 0;
		height: 0;
	}
}
.itemlist-row {
	display: none;
}

.empty {
	.itemlist-row_empty {
		display: block;
	}
	.itemlist-row {
		display: none;
	}
}

.not-empty {
	.itemlist-row_empty {
		display: none;
	}
	.itemlist-row {
		display: block;
	}
}


	.itemlist__h1 {
		color: #009ee7;
		font-size: 38px;
		font-weight: normal;
		line-height: 1.2;
		margin: 53px 0 50px;
		padding: 0;
	}


	.itemlist__empty-list {
		margin: 0;
		padding: 0;
	}

		.itemlist__empty-item {
			counter-increment: list_counter;
			position: relative;
			margin-right: 40px;
			margin-left: 40px;
			margin-bottom: 53px;
			&::before {
				content: counter(list_counter);
				position: absolute;
				color: @textColor;
				font-size: 40px;
				line-height: 1;
				font-weight: 300;
				left: -40px-3px;
				top: 1px;
			}
		}


		.itemlist__h2 {
			color: @textColor;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.4;
			margin: 0 0 18px;
			padding: 0;
		}


	.itemlist__direct-hello {
		background: @blue_sexy;
		padding: 23px-6px 20px 23px;
	}

		.itemlist__direct-hello-p {
			color: @white;
			font-size: 16px;
			line-height: 20px;
			padding: 0;
			margin: 0 0 12px;
		}

		.itemlist__direct-hello-a {
			.btn;
			.btn-red;
			margin-top: 5px;
		}







		.itemlist__col2__l1 {
			margin: 128px 0 20px;
			display: inline-block;
			widht: 100%;
			font-size: 18px;
			a {
				vertical-align: middle;
			}

			.qi-view {
				margin-right: 14px;
				vertical-align: middle;
			}
		}

		.itemlist__col2__l2 {
			position: absolute;
			bottom: 53px;
			margin: 0;
		}

		.itemlist__p {
			padding: 0;
			margin: 0 0 14px;
			color: #687078;
			font-size: 15px;
			line-height: 22px;
		}


