.body__page-itemedit {
	background-color: @white;
}

.itemedit {
	.user-select(none);
	display: inline-block;
	width: 100%;

	.qst__inp-cont {
		padding: 13px 14px 12px;
		height: 14px;
	}

	.qst__inp-cont-ta {
		height: auto;
	}

	.itemedit__inp-file-title {
		z-index: 5;
	}
		.itemedit__inp-file-title-a {
			color: @textColor;
			text-decoration: underline;
			&:hover {
				color: @textColor;
				text-decoration: underline;
			}
		}
}


	// .itemedit__slide1__col1 {
	// 	padding-right: @gridGutterWidth;
	// }
	.itemedit__short-link {
		font-size: 13px;
		line-height: 14px;
		float: right;
		margin-top: -28px;
		.user-select(all);

		&-title {
			color: @grayLight;
		}

		&-a {
			color: @textColor;

			&:hover,
			&:active,
			&:focus {
				color: @textColor;
			}
		}
	}

		.itemedit__activate-cont {
			margin-bottom: 24px;
		}

		.itemedit__active-label {
			font-size: 13px;
			line-height: 1.2;
			margin-left: 7px;
		}


.itemedit__description {
	resize: none;
}


textarea.qst__inp {
	height: 50px;
}




	.item__types-cont {
		.transition(all .2s);
		margin-bottom: 17px;
	}

		.item__types-title {
			display: inline-block;
			margin-right: 11px;
			font-size: 13px;
		}

		.item__types {
			.user-select(none);
			display: inline-block;
			font-size: 0;
			li {
				display: inline-block;
				border: 1px solid @grayLighter;
				font-size: 13px;
				line-height: 1;
				margin-left: -1px;
				// .box-shadow(inset 0 1px 4px rgba(0,0,0,.16));
				#gradient .vertical(#fdfdfe, #f0f0f2);
				
				&.active {
					.box-shadow(inset 0 1px 4px rgba(0,0,0,.16));
					#gradient .vertical(#e8e9ec, @grayLighter2);
				}

				&:first-child {
					.border-radius(3px 0 0 3px);
				}

				&:last-child {
					.border-radius(0 3px 3px 0);
				}
			}
		}

			.item__types-item {
				display: inline-block;
				font-size: 13px;
				line-height: 1;
				padding: 7px 13px 8px;
				color: @textColor;
				text-decoration: none;

				&:focus,
				&:hover,
				&:active {
					color: @textColor;
					text-decoration: none;
				}
			}


			.itemedit__file {
				.transition(all .2s);
				height: 0;
				opacity: 0;
				overflow: hidden;
				margin: 0;
				position: relative;
				cursor: pointer;
				
				text-align: center;
				background: @grayLighter12;

				.qst__inp-cont {
					height: auto;
					overflow: hidden;
				}
			}
				.itemedit__inp-file-process {
					cursor: pointer;
					position: absolute;
					width: 0;
					height: 100px;
					top: 0;
					left: 0;
					z-index: 1;	
					background-color: @greenHead;
					.transition(width 0.2s);
				}

				.itemedit__inp-file-title {
					font-size: 13px;
					line-height: 16px;
					color: @grayLight;
					display: inline-block;
					height: 100px - 2*14px;
					margin-top: (100px - 2*14px)/2 - 14px/2;
					position: relative;
					z-index: 2;	
					text-shadow: 1px 1px @white;
				}

				.itemedit__inp-file {
					cursor: pointer;
					opacity: .001;
					position: absolute;
					width: 100%;
					height: 100px;
					top: 0;
					left: 0;
					z-index: 3;
				}

	.itemedit__link {
		margin: 0;
		.transition(all .2s);
		overflow: hidden;
		height: 0;
		opacity: 0;

			.qst__inp-cont {
				padding: 10px 14px;
			}
	}

	.state-link {
		.itemedit__link {
			height: 34px;
			opacity: 1;
		}
	}


	.state-file {
		.itemedit__file {
			height: 100px;
			opacity: 1;
		}
	}


	.state-nothing {
		.item__types-cont {
			margin-bottom: 0;
		}
	}

		.itemedit__submit {
			margin: 30px 0;
			padding: 27px 20px 29px;
			text-align: right;
			background-color: @grayLighter2;
			.transition(background-color .2s);

			&:after {
				content: '';
				display: inline-block;
				background: @grayLighter2 url(/images/ani/spinner.gif) center center no-repeat;
				width: 0;
				height: 14px;
				margin-left: 0;
				.transition(all .2s);
			}
		}

	.saving {
		.itemedit__submit {
			&:after {
				width: 14px;
				margin-left: 10px;
			}
		}
	}

			.itemedit__submit-a {
				.btn;
				.btn-green;
			}

			.itemedit__delete-a {
				.btn;
				.btn-gray;
				float: left;
			}


// Errors
.itemedit__error {
	font-size: 13px;
	line-height: 14px;
	color: @white;
	.transition(all .3s);
	opacity: 0;
}

.error {
	.itemedit__submit {
		background-color: @red;
	}
	.itemedit__error {
		opacity: 1;
		padding-right: 20px;
	}
}

.itemedit__share {
	&-h {
		font-size: 13px;
		line-height: 14px;
		font-weight: 700;
		padding: 0;
		margin: 0 0 10px;
	}

	&-p {
		margin:5px 0 16px;
		padding: 0;
		font-size: 13px;
		line-height: 18px;
	}

	&-inp-cont {
		background: @white;
		border: 1px solid @grayLight;
		padding: 5px 3px;
		.box-sizing(border-box);
		display: block;
		overflow: hidden;
		.border-radius(2px);
		margin-bottom: 10px;
		font-size: 13px;
		line-height: 14px;
		
		width: 206px;
		
		.qst__inp {
			width: 120px;
		}

		.qi {
			margin: -5px 0;
		}
	}


	&-btn {
		background: @grayDarker2;
		text-decoration: none;
		padding: 6px 5px;
		.border-radius(2px);
		.box-sizing(border-box);
		display: block;
		overflow: hidden;
		margin-bottom: 10px;

		width: 206px;
		
		border-style: solid;
		border-width: 0 1px 2px 0;
		padding: 6px 5px-1px 6px-2px 5px;

		.qi {
			margin: -6px 0;
		}


		&:hover{
			color: @white;
			text-decoration: none;
		}

		&:active {
			border-width: 2px 0 0 1px;
			padding: 6px-2px 5px 6px 5px-1px;
		}

		&-title {
			font-size: 13px;
			line-height: 14px;
			color: @white;
			margin-left: -2px;
		}
	}

	&-vk-btn {
		background-color: @vkColorLight;
		border-color: @vkColorDark;
	}

	&-fb-btn {
		background-color: @fbColorLight;
		border-color: @fbColorDark;
	}

	&-tw-btn {
		background-color: @twColorLight;
		border-color: @twColorDark;
	}
}




.empty {
	.showcase {
		&__form {
			&__img-cont {
				display: none;
			}
		}
	}
}


.buyers {
	&__head {
		margin-top: 0;
		font-size: 18px;
	}
}




.itemedit__slide {
	display: none;
	margin-top: 40px;
}

.page-itemedit_main {
	.itemedit__slide_main {
		display: block;
	}
}

.page-itemedit_showcase {
	.itemedit__slide_showcase {
		display: block;
	}
}

.page-itemedit_finish {
	.itemedit__slide_finish {
		display: block;
	}
}

.page-itemedit_buyers {
	.itemedit__slide_buyers {
		display: block;
	}
}