@pColor: #7c848c;

.body__page-landing {
	background-color: @greenHead;

	#qst-container {
		width: 100%;
	}
	.navbar-fixed-top {
		position: fixed;
	}
}

.hbr {
	display: none;
}

.thbr {
	display: none;
}

	.landing-section {
		display: block;
		position: relative;
		min-height: 520px;
		max-height: 1600px;
		overflow: hidden;
		text-align: center;
		color: @white;
		z-index: 2;
	}
		.landing__container {
			display: table;
			height: 100%;
			border-spacing: 0;
			border-collapse: collapse;
			.container;
		}

			.landing__container-in {
				display: table-cell;
				vertical-align: middle;
			}

	.landing-section1 {
		position: fixed;
		width: 100%;
		z-index: 1;
		top: @navbarHeight;
		background: @greenHead url(/images/qb/landbg.jpg) 0 0 no-repeat;
		.background-size(100% 100%;)
	}

		.landing__h1 {
			font-size: 40px;
			line-height: 46px;
			font-weight: 700;
			padding: 0;
			margin: -80px 0 20px;
		}

		.landing-section1-p {
			font-size: 19px;
			line-height: 30px;
			margin: 0 0 58px;
			padding: 0;
		}

		.landing__start-a {
			display: inline-block;
			.border-radius(4px);
			color: @white;
			text-decoration: none;
			font-size: 16px;
			line-height: 1;
			font-weight: 700;
			border: 3px solid @white;
			padding: 10px 40px;

			&:hover {
				color: @white;
				text-decoration: none;
			}
		}
		
		.landing__next-a {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 100px;
			margin-left: -50px;
			font-size: 12px;
			line-height: 1;
			color: @white;
			text-decoration: none;
			padding: 20px 0 57px;

			&:hover {
				color: @white;
				text-decoration: none;
			}
		}
			.landing__next-title {
				margin-bottom: 8px;
				display: block;

			}

	.landing-section2 {
		background: @white;

		.landing__container {
			border-bottom: 1px solid @grayLighter10;
		}

			.landing__container-in {
				padding: 94px 0 88px;
			}
	}
		
		.landing-s-h {
			margin: 0 0 68px 0;
			padding: 0;
			color: @green_sexy;
			font-size: 34px;
			line-height: 40px;
			font-weight: 400;
		}

		.landing__list {
			margin-left: -@gridGutterWidth;
		}

			.landing__list-itm {
				display: inline-block;
				width: (@gridGutterWidth + @gridColumnWidth)*2 + @gridGutterWidth;
				margin-left: 78px;
				vertical-align: top;
				text-align: left;
				counter-increment: howcount;
			}

				.landing__list-itm-h {
					font-size: 18px;
					line-height: 22px;
					font-weight: 400;
					padding: 0;
					margin: 20px 0 10px;
					color: @black;
					position: relative;

					&:before {
						content: counter(howcount);
						position: absolute;
						color: @red_sexy;
						font-size: 14px;
						left: -20px;
					}
				}

				.landing__list-itm-p {
					font-size: 15px;
					line-height: 21px;
					font-weight: 400;
					padding: 0;
					margin: 0 0 1px;
					color: @pColor;
				}

				.landing__list-itm-h2 {
					font-size: 14px;
					line-height: 46px;
					padding: 0;
					margin: 0 0 -7px;
				}

	.landing-section3-p {
		color: @pColor;
		font-size: 15px;
		line-height: 22px;
		margin-top: 0;
		margin-bottom: 62px;
	}

	.landing-section3 {
		background: @white;

		.landing__container {
			border-bottom: 1px solid @grayLighter10;
		}

			.landing__container-in {
				padding: 77px 0 57px;
			}

		.landing-s-h {
			margin: 0 0 20px 0;
			font-size: 34px;
			line-height: 42px;
		}

		.landing__list {
			margin: 0 -@gridGutterWidth 0 -(2*@gridGutterWidth - 5px);
		}

			.landing__list-itm {
				display: inline-block;
				width: (@gridGutterWidth + @gridColumnWidth)*2;
				margin-left: @gridGutterWidth - 5px;
				vertical-align: bottom;
				text-align: left;

				&:first-child {
					.ib {
						margin-left: 0;
					}
				}
			}

				.landing__list-itm-h {
					font-size: 16px;
					line-height: 23px;
					font-weight: 500;
					padding: 0;
					margin: 12px 0 6px;

					&:before {
						content: '';
						display: none;
					}
				}

				.landing__list-itm-p {
					font-size: 14px;
					line-height: 19px;
					font-weight: 400;
					padding: 0;
					margin: 0 0 1px;
					color: @pColor;
				}
	}


	.landing-section4 {
		background: @white;

			.landing__container-in {
				padding: 69px 0 54px;
			}

		.landing__list {
			margin: 0 0 0 -(2*@gridGutterWidth);
			border-bottom: 1px solid @grayLighter10;
			padding-bottom: 66px;
		}

			.landing__list-itm {
				display: inline-block;
				width: (@gridGutterWidth + @gridColumnWidth)*4 + @gridGutterWidth;
				margin-left: @gridGutterWidth*2;
				vertical-align: top;
				text-align: center;

				&:first-child {
					.ib {
						margin-left: 0;
					}
				}
			}

				.landing__list-itm-p {
					font-size: 15px;
					line-height: 22px;
					font-weight: 400;
					padding: 0;
					margin: 0 0 28px;
					color: @pColor;
				}

					.landing__pay-systems {
						margin: 0 0 0 -6px;
						font-size: 0;
						line-height: 0;
					}

						.landing__pay-systems-itm {
							display: inline-block;
							margin: 0 0 10px 10px;
						}

			.landing__start-cont {
				padding: 57px 0;
			}

				.landing__start-a {
					background: @red_sexy;
					border-color: @red_sexy_border;
					padding: 14px 22px-2px 14px-2px 22px; 
					border-width: 0 2px 2px 0;
					&:active {
						padding: 14px-2px 22px 14px 22px-2px; 
						border-width: 2px 0 0 2px;
						// border-color: @red_sexy;
					}
				}
	}

	.landing__pay-charge {
		display: inline-block;
		border: 1px solid rgba(193,193,193,.4);
		.border-radius(2px);
		font-size: 55px;
		line-height: 56px;
		color: @pColor;

		width: 150px;
		height: 70px;
		.box-sizing(border-box);
		padding: (70px - 56px)/2 0;
	}




