.paysystemadd__row {
	display: none;
}

.qiwi {
	.qiwi-row {
		display: block;
	}
}

.paypal {
	.paypal-row {
		display: block;
	}
}

.robokassa {
	.robokassa-row {
		display: block;
	}
}

.assist {
	.assist-row {
		display: block;
	}
}

.paymaster {
	.paymaster-row {
		display: block;
	}
}

.webmoney {
	.webmoney-row {
		display: block;
	}
}


.paysystemadd-popup {
	.popup__inner {
		width: 920px;
		border: 0 none;
		background-color: @grayLighter12;
	}

	// .popup__content {
	// 	// margin: 40px;
	// }

	.popup__close {
		display: none;
	}
}

.paysystemadd__cont {
	padding: 34px 40px 30px;
}
	.paysystemadd__h {
		font-size: 18px;
		line-height: 20px;
		font-weight: bold;
		color: @grayDark;
		margin-bottom: 30px;
	}


	.paysystemadd__info-list {
		margin: 0;
		padding: 0;
	}

		.paysystemadd__info-item {
			color: #222a32;
			font-size: 14px;
			line-height: 20px;
			margin: 0 0 20px 20px;
			counter-increment: list_counter;
			position: relative;

			&:before {
				content: counter(list_counter);
				position: absolute;
				color: #868e96;
				font-size: 12px;
				left: -20px;
				top: 1px;
			}

			mark {
				background-color: transparent;
				color: @green3;
			}
		}

	.paysystemadd__form {
		margin: 0;
		padding: 0;

		.qst__inp-group {
			margin-bottom: 29px;
		}

			.qst__inp-cont {
				background-color: @white;
			}
	}


.paysystemadd__form {
	// margin: 40px 40px 0;
	// padding-top: 3px;

// 	&-h {
// 		padding: 0;
// 		margin: 0 0 17px -1px;
// 		font-weight: 700;
// 		font-size: 18px;
// 		line-height: 20px;
// 	}

// 	&-toggler {
// 		float: right;
// 		line-height: 24px;
// 		color: #aeb6be;
// 	}

// 	.qst__inp-group {
// 		background-color: @white;
// 	}

// 		.qst__inp-cont {
// 			padding: 12px 10px 13px;
// 		}

// 		& &-inp-name-cont {
// 			.transition(all .2s);
// 			height: 0;
// 			padding: 0 10px 0;
// 			border-width: 0;
// 			overflow: hidden;
// 		}

	&-submit-hidden {
		.hidden-submit;
	}

	&-submit {
		margin: 0;
		padding: 26px 20px 26px 0;
		text-align: right;
		background-color: @white;
		.transition(background-color .2s);

		&-a {
			.btn_short;
			.btn-blue;
		}
		&-error {
			font-size: 13px;
			line-height: 14px;
			color: @white;
			.transition(all .3s);
			opacity: 0;
		}
	}


// 	&-user-agreement {
// 		font-size: 12px;
// 		line-height: 16px;
// 		width: 320px;
// 		margin-bottom: 27px;
// 	}

}


	// .paysystemadd__toggle {
	// 	font-size: 13px;
	// }

// // Errors

.error {
	.paysystemadd__form {
		&-submit {
			background-color: @red;

			&-error {
				opacity: 1;
				padding-right: 2px;
			}
		}

	}
}


// // States 
// .signin {
// 	.auth__sign {
// 		&-h {
// 			&_signin {
// 				display: block;
// 			}
// 			&_signup {
// 				display: none;
// 			}
// 		}

// 		&-toggler {
// 			&_signin {
// 				display: none;
// 			}

// 			&_signup {
// 				display: static;
// 			}
// 		}

// 		// &-inp-name-cont {
// 		// 	display: none;
// 		// }

// 		&-user-agreement {
// 			display: none;
// 		}

// 		&-submit {
// 			&_signin {
// 				display: inline-block;
// 			}
// 			&_signup {
// 				display: none;
// 			}
// 		}
// 	}

// 	.qst__inp-group {
// 		margin-bottom: 50px;
// 	}
// }