.withdrawal-h {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	margin: 60px 200px;
	padding: 0;
}

.page-profile_account {
	.profile__section-account-row {
		display: block;
	}

	.profile__section-withdrawal-row {
		display: none;
	}
}

.page-profile_withdrawal {
	.profile__section-account-row {
		display: none;
	}

	.profile__section-withdrawal-row {
		display: block;
	}
}